[2016-01-11 12:29] densh opened #1 "Proposal: emit LLVM devirtualization hints"
https://docs.google.com/document/d/1f2SGa4TIPuBGm6y6YO768GrQsA8awNfGEJSBFukLhYA/edit#heading=h.iue9731a57u3

[2016-01-11 16:57] densh opened #2 "Port alloc lowering from GIR to NIR"

[2016-01-11 16:57] densh opened #3 "Array lowering"
- [x] finalize array memory layout
- [x] desugar array ops into direct memory accesses
- [x] desugar array size op

[2016-01-11 16:57] densh opened #4 "Box lowering"

[2016-01-11 16:58] densh opened #5 "Port class lowering from GIR to NIR"

[2016-01-11 16:58] densh opened #6 "Add support for traits in compiler"

[2016-01-11 16:58] densh opened #7 "Monitor lowering"

[2016-01-11 16:59] densh opened #8 "Nothing lowering"

[2016-01-11 16:59] densh opened #9 "Port size lowering from GIR to NIR"

[2016-01-11 16:59] densh opened #10 "Exception lowering"
- [x] lower throw into runtime call + undefined
- [x] lower try-catch with calls into invokes
- [x] landing pad generation
- [x] invoke support in code generator

[2016-01-11 17:00] densh opened #11 "As/Is lowering"
- [x] enumerate all classes and interfaces
- [x] inject type ids into RTTI
- [x] class is instance checks become numeric checks on ids

[2016-01-11 17:00] densh opened #12 "String lowering"

[2016-02-04 11:31] #2 closed, assigned to nobody

[2016-02-04 11:31] #12 closed, assigned to nobody

[2016-02-04 11:32] #9 closed, assigned to nobody

[2016-02-04 11:32] #5 closed, assigned to nobody

[2016-02-04 11:32] #4 closed, assigned to nobody

[2016-02-12 15:10] #8 closed, assigned to nobody

[2016-02-12 15:10] #7 closed, assigned to nobody

[2016-02-17 16:11] densh opened #13 "String lowering"
- [x] finalize string layout
- [x] emit intrinsified strings

[2016-02-22 17:21] #3 closed, assigned to nobody

[2016-02-24 14:20] #10 closed, assigned to nobody

[2016-02-24 15:20] #13 closed, assigned to nobody

[2016-02-25 15:29] densh opened #14 "Introduce checked undefined behavior (aka development mode)"
Scala native is going to have a relaxed safety model with checked undefined behaviour similar to Scala.js. In development mode all situations that can cause undefined behaviour throw `UndefinedBehaviourError`.

Guarded situations:
- null pointer dereference
- invalid class casts
- arithmetic corner cases
- stack overflows
- ...

On the IR-level such checks are going to be represented through speci

[2016-02-26 11:49] #11 closed, assigned to nobody

[2016-02-28 14:43] densh opened #15 "Proposal: dotty front-end"
https://github.com/scala-native/scala-native/tree/topic/dotty-support branch of scala-native together with https://github.com/densh/dotty/tree/nir fork of dotty contains initial work to integrate of dotty as Scala Native fronted. This is far from production ready and needs to be updated to reflect recent changes in the NIR.

[2016-02-28 14:44] densh opened #16 "Initial C interop layer"
MVP:
- [x] `UByte`, `UShort`, `UInt`, `ULong`
- [x] `CChar`, `CInt`, `...`, `CSize`
- [x] `cast[T](x)` // bitcast
- [x] `sizeof[T]`
- [x] `c"..."` (C string)
- [x] `Ptr[T]` core features
  - [x] type definition
  - [x] `!ptr`
  - [x] `!ptr = value`
  - [x] `ptr + offset` and `ptr - offset`
  - [x] `ptr(index)`
  - [x] `ptr(index) = value`
- [x] `@extern object $name`
  - [x] extern object definiti

[2016-03-08 16:54] densh opened #17 "Class and module lowering should inject prefixes to global ids after lowering"
- [x] Inject "class." prefix for classes
- [x] Inject "module." prefix for modules
- [x] Inject "trait." prefix for traits

[2016-03-09 12:43] densh opened #18 "Smi (small integers) optimization"
It's a well-known technique that lets one pack integer numbers that fit into pointer value without allocation. Originally we planned it to have it from the start but it complicates support for 32/64-bit with the same code-base and also has complications wrt Boehm GC. We need to revisit this idea once we replace it with something better and have proper conditional compilation support.

https://www.

[2016-03-21 13:30] densh opened #19 "Closure lowering"
Java8 backend of nsc and dotty produces closure trees that are meant to be desugared to LambdaMetaFactory on JVM. We have already added an IR-level op for that called `closure[$ty] $funptr, ..$captures` but don't have a desugaring implemented for it yet.

This is not necessary for 2.11 but is a blocker for 2.12 and dotty front-ends.

[2016-03-27 11:47] densh opened #20 "Add support for java-style strings"
Features:
- [x] Port `java.lang.String` from Apache Harmony
- [ ] Update string lowering to reflect the new implementation

[2016-03-27 11:52] densh opened #21 "Initial sbt integration"
Key functionality:
- [x] compile source code to nir
- [x] link nir and compile to llvm
- [x] compile runtime to llvm
- [x] compile runtime and application llvm ir to native binary
- [x] run native binary
- [x] use `mainClass` to automatically discover the entry point
- [x] Customisable location setting
- [x] Customisable clang flags

[2016-03-28 14:03] densh opened #22 "Get rid off apache commons io dependency"
It's currently used to discover classpath, we can probably do it manually with a bit of extra code.

[2016-04-20 13:40] densh opened #23 "Minimum jdk stubs"

[2016-04-22 12:30] densh opened #24 "Update port of scala.runtime to reflect recent changes in 2.12"
* https://github.com/scala/scala/pull/5110
* https://github.com/scala/scala/pull/5098

[2016-04-25 11:46] densh opened #25 "ScalaDays NYC '16"
Materials:
- [x] Slides
- [x] Demo
- [x] Readme & website update

Initial interop https://github.com/scala-native/scala-native/issues/16:
- [x] Utility functions (`sizeof`, `cast`, `c"..."`)
- [x] `Ptr[T]`
- [x] `@extern object`
- [x] `@struct class`

Tools:
- [x] Flat-scoped definitions
- [x] Minimal sbt integeration #21

Library:
- [x] Initial stubs of java library to get collections compiling
-

[2016-04-27 14:41] #23 closed, assigned to nobody

[2016-04-27 15:27] densh opened #26 "Finish exception handling"
* [x] frontend code gen for throw
* [ ] frontend code gen for try/catch/finally (partially complete)
* [ ] backend code gen (partially complete)
* [ ] nicely printed in case app crashes

[2016-04-29 19:44] #17 closed, assigned to nobody

[2016-04-30 10:03] densh opened #27 "Add support for interop with C's long double type"

[2016-05-02 08:37] densh opened #28 "Port partest integration from scala-js"
This will be the initial foundation for the test suite.

Starting point: https://github.com/scala-js/scala-js/tree/master/partest/src/main/scala/scala/tools/partest/scalajs

[2016-05-02 09:29] densh opened #29 "LLDB integration"
It's already possible to debug Scala native code with LLDB but we need to provide source code position mapping to have better end-user experience.
- [x] Add support for positions to NIR
- [x] Emit positions in the frontend
- [x] Preserve positions during transformations
- [x] Map positions to LLVM's debug information in the code generator

[2016-05-02 20:49] #21 closed, assigned to nobody

[2016-05-03 10:30] densh opened #30 "Output dependency graph gathered during linking to .dot file"
This can be quite useful to debug linking errors.

[2016-05-04 14:35] densh opened #31 "Eliminate redundant box/unbox pairs"
Subsequent box/unbox pairs should disappear and be replaced with original value.

[2016-05-04 14:35] densh opened #32 "Eliminate redundant module loads"
Once module is loaded, any subsequent module loads that are being dominated by the load should re-use the value.

[2016-05-05 22:52] densh opened #33 "Add support for C varargs in extern methods"
Currently one can't call C functions that have vararg agruments. We need some extra work in the front-end to make it happen.

[2016-05-05 22:54] densh opened #34 "Improve interop with C's union types"
Currently it's possible to use C structs that have union members through definition of multiple variants of the same struct and casting between them. This is a bit sub-optimal from the boilerplate point of view and it would be nice to have something more user friendly in this area.

[2016-05-05 22:56] densh opened #35 "Add support for interop with C's fixed-size arrays"
One way to do it would be to introduce a new `CArray[T, N <: Size]` value type that corrresponds to C's `T[N]` type. It must also have a constructor that automatically infers the length. One can get a mutable array by stack allocating a value type and mutating the resulting pointer.

[2016-05-05 22:58] densh opened #36 "Add support for function pointers"
Current pointer type is not able to express function pointers. Considering the fact that one can not have function type anywhere but underneath a pointer it would make sense to have a separate pointer type for that.

Functionality:
- [ ] type `FunctionPtrN[.. $T]`
- [ ] indirect function call `funptr(.. $args)`
- [ ] `FunctionPtr.to(externFunction _)`

[2016-05-05 22:59] densh opened #37 "Add support for SIMD"
Introduce an additional annotations to have non-C struct layouts:
- `@simd` annotation that will map to LLVM-style vectors

[2016-05-05 23:02] densh opened #38 "@struct's should be able to implement traits"

[2016-05-05 23:05] densh opened #39 "Add support for equivalent of C's `ptr->field`"
Finding an equivalent for this in Scala is complicated:
1. We could use a combination of `Dynamic` and whitebox macros but that would make it unusable in IDEs and not portable to dotty. The syntax would be `ptr.field` which is not the same but close enough.
2. If we try to use exactly the same syntax as in C `ptr->field`, it gets parsed as `ptr.->(field)`, meaning that `field` has to be in scope,

[2016-05-05 23:15] densh opened #40 "Add support for @name annotation"
The annotation would let one bind to differently named external definition:

[code]

[2016-05-06 09:46] densh opened #41 "Improve usability of unsigned integers"

[2016-05-06 12:45] densh opened #42 "Add support for jar assemblies"
This is a blocker for releasing any kind of stable release of scala-native.

[2016-05-07 07:41] #30 closed, assigned to nobody

[2016-05-08 19:59] densh opened #43 "Considering adding ref parameters and return values"
For details see C# 7's proposal on this: https://github.com/dotnet/roslyn/issues/118

[2016-05-09 19:23] #16 closed, assigned to nobody

[2016-05-10 22:33] densh opened #44 "Adopt C#/Rust-style unsafe contexts"
Unsafe (pointers, stack allocation, extern calls and friends) features can only be used in unsafe context:
- [ ] `@unsafe` methods
- [ ] `unsafe { ... }` blocks

This clearly demarcates usage of unsafe features, making it impossible to use them by accident.

[2016-05-11 13:28] densh opened #45 "Developer guide"
Things that need to be covered in the guide:
- [x] Building and running Scala Native projects with sbt
- [x] Overview of low-level language extensions in Scala Native
- [x] Writing bindings for C libraries
- [x] Publishing NIR for Scala libraries with sbt

[2016-05-11 13:28] #25 closed, assigned to nobody

[2016-05-11 19:03] xoltar opened #46 "Build failure"
Cool project!

Build fails as below. Mac OS X El Capitan. Current master (06739d6).

Any ideas?

Thanks,
Bryn

[code]

[2016-05-11 22:00] xoltar commented on #46
Ah. Looks like there are submodules. Starting over with clone --recursive, I get a different error:

[code]

[2016-05-11 23:05] rockjam commented on #46
@xoltar there are subprojects rtlib and nscplugin, that should be manually published in your local ivy repo. Try something like:
[code]

Not sure about further steps.

[2016-05-11 23:20] rockjam commented on #46
@xoltar let me know if you succeed in running demo project. My first attempt was
[code]

But it failed with:
[code]

[2016-05-12 00:46] metasim commented on #46
I'm not even able to get sbt to fully boot:
[code]

[2016-05-12 00:46] langley opened #48 "Build failure on ubuntu 14.04 with sbt-0.13.11"
I'm running ubuntu 14.04, java
langley@oak:$ java -version
java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode)
langley@oak:$ scala -version
Scala code runner version 2.11.8 -- Copyright 2002-2016, LAMP/EPFL
and sbt-0.13.11

Here's what I see, any ideas?  I tried nuking ~/.ivy2 and ~/.m2 and that had no effect.

[2016-05-12 00:48] metasim commented on #46
I note that there is no `project/build.properties` file, leading to the possibility that different versions of sbt might be used by evaluators. What version is used by the dev team?

[2016-05-12 01:01] metasim commented on #46
I think the issue might be with the version of java under which sbt is run. I switched from Java 8 build 60 to Java 7 build 79 and sbt finished initializing.

[2016-05-12 01:02] metasim commented on #48
[I just found](https://github.com/scala-native/scala-native/issues/46#issuecomment-218632925) that running sbt with Java 7 resolved a different back trace. Might not be the same problem, but did note that you were using Java 8.

[2016-05-12 01:07] langley commented on #48
The problem was indicated in the error is at ScalaNativePluginInternal.scala:61
which is

Well, I didn't have anything for which to find.

When I fixed this by linking my /usr/lib/llvm-3.6/bin/clang++ to /usr/bin/clang++

I got to the next error ;^)

[2016-05-12 01:09] langley commented on #48
Anyone know how to make sbt "fail gracefully" in the middle of creating projectSettings the way that ScalaNativePluginInternal does? An error message here would be nice ;^)

By the way, did I say how COOL THIS PROJECT IS!?!

[2016-05-12 01:17] langley opened #49 "Build failures cont'd"
Ubuntu 14.04
java version "1.8.0_91"
sbt-0.13.11

[debug] :: resolution report :: resolve 5217ms :: artifacts dl 24395ms
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: org.scala-native#rtlib_2.11;0.1-SNAPSHOT: not found
[warn] 	:: org.scala-native#nscplugin_2.11;0.1-SNAP

[2016-05-12 02:39] aktowns commented on #49
running `publishLocal` on both projects fixed it for me
[code]

[2016-05-12 02:57] aktowns commented on #49
next problem you'll probably hit is missing symbol `__stderrp` because its a bsdim as far as i can tell (stdio.h macro's stdin/stdout to __stdoutp and __stderrp) on linux its just stderr and stdout. i'm not sure if there's any machinery to do per platform compilation to use just the one var, but a quick fix to run the native demo on linux

[code]

[2016-05-12 08:39] HerringtonDarkholme opened #51 "[Developer Guide] How to compile this project"
It should be tracked by https://github.com/scala-native/scala-native/issues/45, but in case you cannot compile this project, here is my try.

Prerequisite:
---

Make sure you have sbt, java and clang installed. My version:

[code]

And optionally, if you don't have `gc.h` in your lib path. Please refer to [this](https://github.com/crystal-lang/crystal/wiki/All-required-libraries) to install it.

c

[2016-05-12 09:00] andreaTP commented on #51
Same point:
[code]
and
[code]

My configuration is:
[code]
and
[code]

[2016-05-12 09:27] tuxdna commented on #49
I am facing the same issue:

[code]

[2016-05-12 09:28] andreaTP commented on #51
update:
```gc.h``` can be fixed by installing manually BOEHM GC for example as explained here:
https://github.com/crystal-lang/crystal/wiki/All-required-libraries

[2016-05-12 09:31] sirinath opened #52 "Port scala-offheap to Scala Native"
As a gap stop measure to reduce GC gitter perhaps you can introduce memory regions.

[2016-05-12 09:36] aktowns commented on #49
Did you try
[code]

[2016-05-12 09:41] tuxdna commented on #49
Added a PR for what you suggested:

  * https://github.com/scala-native/scala-native/pull/53

[2016-05-12 09:48] sirinath opened #54 "Reference Counting"
As a gap stop measure if it possible to have RC variables to avoid GC by annotating them with `@rc`

[2016-05-12 09:59] sirinath opened #55 "Effect System to Track Memory, Resource Usage and Concurrency Issues to Eliminate GC and Unnecessary Runtime Overhead for Lowest Possible Latency and Highest Possible Throughput"
Some time in the future is it possible to leverage the [effect system](https://en.wikipedia.org/wiki/Effect_system) in future Scala to track memory allocation and freeing so GC will not be necessary. Also track and identify issues like race conditions, resource contention, resource leakings. Ultimately the program should produce the results with minimum number of cycles and memory from the given i

[2016-05-12 10:09] andreaTP commented on #51
got it working on Linux!!!!

You will need to update clang and llvm to 3.7 version.

Going to try to write a usable guide.

thanks also to @andreaferretti

[2016-05-12 10:15] TimothyKlim commented on #51
on OS X too:

```Rendering (8 spp) 100.00%```

[2016-05-12 10:17] rockjam commented on #51
Got it working on OS X after [this](https://github.com/scala-native/scala-native/issues/51#issuecomment-218705791)

[2016-05-12 10:22] kmizu commented on #51
Got it working on OS X after placing [the file](https://gist.github.com/kmizu/e759ba7d0155bb90e3eb7a053c12c21a) on `demo-native` directory. !

[2016-05-12 11:13] mkotsbak commented on #51
gc.h for Ubuntu is as easy as doing:
`sudo aptitude install libgc-dev`

[2016-05-12 12:31] andreaferretti commented on #51
I have a working container for Vagga: see [here](https://github.com/andreaferretti/vagga-examples/blob/master/scala-native/vagga.yaml)

[2016-05-12 16:29] easel commented on #51
These worked for me on OS X after installing the llvm/gc stuff via home-brew. Very nice.

[2016-05-12 16:32] andreaTP commented on #51
I mad a PR with a Docker configuration to run it:
https://github.com/scala-native/scala-native/pull/56

[2016-05-12 17:12] joprice commented on #51
Anyone else getting errors encoding errors in javalib/doc? I tried setting utf8 flags for scalacOptions, javaOptions, etc, and running `dos2unix` over all files.

[2016-05-12 17:22] joprice commented on #55
A reference for tracking concurrency issues using capabilities by Haller and Odersky: http://lampwww.epfl.ch/~phaller/capabilities.html.

[2016-05-12 19:51] xoltar commented on #46
@metasim I think your issue is the same I had at first, try starting over and cloning with --recursive, so you get the submodules as well.

@rockjam Thanks, that's progress. I get a failure due to missing gc.h now:

[code]

[2016-05-13 00:01] tkawachi commented on #46
I got

[code]

then figured out that git submodule should be updated.

[code]

Then it compiles. :)

[2016-05-13 00:18] densh commented on #54
We are extremely conservative about any changes in semantics with respect to reference implementation of Scala on JVM. Currently we do not plan to adopt any non-GC memory management strategies for regular Scala allocations. Scala is a garbage collected language at its core.

[2016-05-13 00:18] #54 closed

[2016-05-13 02:31] sirinath commented on #54
I am not saying that everything should be non GCed. Only if you use a variable annotated with `@rc`. LLVM should support this as Objective C and Swift uses it. For any variable without the annotation then you can use GC for the time being until https://github.com/scala-native/scala-native/issues/55. If none of the variable does not have `@rc` the whole set of variables will be GCed. This will only

[2016-05-13 02:53] densh opened #58 "Cross-platform projects"
We need to extend the original cross-project idea, [first implemented in Scala.js](http://www.scala-js.org/doc/project/cross-build.html) to support Native as another target for cross-compilation. This will cover both cross-platform compilation under different implementations of Scala and cross-platform in the sense of different flavours of native targets (e.g. MacOS/Linux/Windows etc)
- [ ] Refact

[2016-05-13 03:00] sirinath commented on #54
This can be like use of allocators in Scala off heap but with the additional safety net of using RC to free the memory, and also having to use `@data` for definition. They will not be part of the GCed Memory.

[2016-05-13 03:09] densh opened #60 "Automatic CLA validation"
Remind contributors who haven't signed the Scala CLA to sign it.

https://github.com/scalameta/scalameta/pull/408#discussion_r65001756 is a nice starting point for someone who wants to fix this.

[2016-05-13 03:11] densh opened #61 "Move away from git submodules"
Git submodules are extremely confusing as they don't get cloned by default. It looks like using something like jgit to checkout Scala standard library is in fact far superior. We'll also be able to support more than one minor version of the Scala library this way too.

[2016-05-13 03:16] sirinath opened #62 "Meta: Potential Useful Resources"
Java Interop:
 - https://github.com/robovm/robovm/tree/master/rt
 - https://github.com/robovm/robovm/tree/master/vm

GC and Language Infrastructure:
 - https://projects.eclipse.org/proposals/omr
   - Perhaps you can use the OMR GC integrated with LLVM to get a better GC
 - Also you can explore if you can borrow something from LLILC - https://github.com/dotnet/llilc/blob/master/Documentation/llilc-

[2016-05-13 03:21] sirinath opened #63 "Doc / Tests: List of Supported Libraries"
It is possible to publish a list of supported libraries

[2016-05-13 03:32] sirinath commented on #54
Also this is very useful to maintain hard real time SLA. E.g. this is even used in Java for HFT: https://github.com/OpenHFT/Chronicle-Core#resource-reference-counting

[2016-05-13 04:59] sirinath opened #65 "Meta: Critical Success Factors (CSF) for Scala Native (SN)"
I think we should think about what are the CSF which will make SN a success. Based on who SN caters for here is my 1st list:
 - High throughput
   - Close to metal performance  in comparison to C/C++, D, Rust, Swift
   - Highly optimised code
 - Low latency
   - Predictable performance with ability to manage GC gitter on critical sections
   - Highly optimised code
   - Eliminate synchronization,

[2016-05-13 05:24] sirinath opened #66 "Remove the need of @struct at point of class definition"
Remove the need of @struct at the point of definition. Any class should be converted to be allocated on the stack in SN. If at all the annotation should be associated at the point of definition or the variable and not at the class definition. Having it at the point of class definition is too restrictive.

In addition you can support structs like in C#.

[2016-05-13 05:54] mdedetrich opened #67 "Inline/Seperate Project LLVM Assembly"
Definitely not top priority, but something that may be worth looking into sometime down the track, for the people that **REALLY** want their performance.

It may be possible to even provide some sought of DSL to make this easier

You could either inline it (which is popular in C), or you can do whats done in macros where the definition is put in a different place and you call it from within your c

[2016-05-13 08:16] mkotsbak opened #68 "Compile error on Ubuntu 16.04 with clang/llvm 3.8"
[info] Compiling 1 Scala source to [...]/scala-native/demo-native/target/scala-2.11/classes...
warning: overriding the module target triple with x86_64-pc-linux-gnu [-Woverride-module]
1 warning generated.
/tmp/demonative-out-4ef622.o: In function `demo.Main::main_class.ssnr.ObjectArray_unit':
[...]/scala-native/demo-native/target/scala-2.11/demonative-out.ll:(.text+0x1a77): undefined reference to

[2016-05-13 08:20] mkotsbak commented on #51
I don't get it to compile: https://github.com/scala-native/scala-native/issues/68
What is the required version of clang? I just see an Apple version above. In my Ubuntu I have 3.5, 3.6, 3.7 and 3.8 available.

[2016-05-13 08:23] andreaferretti commented on #51
You need clang 3.7 at a minimum. See [this Vagga file](https://github.com/andreaferretti/vagga-examples/blob/master/scala-native/vagga.yaml) or [this Dockerfile](https://github.com/scala-native/scala-native/pull/56/files) for complete instructions.

[2016-05-13 08:41] andreaTP commented on #68
on linux you need to run
[code]

I've checked with clang 3.7

[2016-05-13 09:49] sjrd commented on #67
I strongly recommend against doing this. See https://github.com/scala-js/scala-js/issues/1846 for some reasons why it's not a good idea in Scala.js, which should also apply to Scala Native.

Also any kind of such inline LLVM will prevent Scala Native's own optimizer to understand the code, and that means it will actively break code.

[2016-05-13 10:00] mkotsbak commented on #68
Yes, the above change solved it :)

[2016-05-13 12:41] josdirksen commented on #46
@xoltar I've got the same issue, running on Mac as well. Haven't looked closer yet at what it might be though.

[2016-05-13 12:42] mdedetrich commented on #67
Yes it will, its also pretty much implied/obvious. Note that it doesn't break the optimisation that LLVM will do itself (if we are inlining LLVM bytecode, rather than just raw assembler, LLVM itself will be able to optimize that with the rest of the LLVM that is generated by the project)

Scala-native already has things like Structs and memory allocation which normal Scala has no concept of. This

[2016-05-13 12:57] densh commented on #67
We're never going to add inline assembly in any form, neither LLVM, nor platform-dependent ones to the Scala Native language itself. As @sjrd mentioned, this would add unnecessary complexity throughout the toolchain and also make it harder to read and understand Scala Native programs.

For performance-sensitive code I'd advice on trying one of two options:

1. Use lower-level features that we have

[2016-05-13 13:09] densh commented on #55
Research in front-end language features, like effect systems, is not the primary goal of the project. There are some plans to do experiments in this area under http://github.com/lampepfl/dotty project.

[2016-05-13 13:09] #55 closed

[2016-05-13 13:20] densh opened #70 "Add support for non-Scala files in the sbt projects"
As discussed in https://github.com/scala-native/scala-native/issues/67#issuecomment-218999930, it would be nice to support having LLVM IL files and/or platform's assembly files right in the native project alongside the Scala code.

[2016-05-13 13:21] #67 closed

[2016-05-13 13:28] josdirksen commented on #51
Also got it working on OS-X Yosemite.

Got this:
[code]
Which was solved by installed boehm gc, and also got this:
[code]
Which was solved by using brew to install llvm and clang++ 3.7 and adding those to the front of the path.

[2016-05-13 15:12] rightfold commented on #44
Do calls to `@unsafe` methods count as unsafe, like in Rust (and unlike in C#, where `unsafe` is always lexical)?

[2016-05-13 15:21] densh commented on #44
Yes, they do count as unsafe.

[2016-05-13 15:25] mancvso commented on #63
¿How will it work with existing libraries? ¿With JVM dependant portions of the scala-library? ¿What about commons-lang?

[2016-05-13 15:32] joprice commented on #61
Have you considered subtree? https://git-scm.com/book/en/v1/Git-Tools-Subtree-Merging

[2016-05-13 15:36] josephwinston commented on #51
Attempting on windows:

[code]

[code]

Finally produces:

[code]

Once I get pass here, I'll deal with needing Boehm

[2016-05-13 15:45] andreaTP commented on #51
@josephwinston  did you clone with ```--recursive``` ?

[2016-05-13 15:59] josephwinston commented on #51
@andreaTP I thought so.  I'll try starting over from scratch to see if it is user error.

[2016-05-13 16:09] sirinath commented on #55
Dotty being primarily JVM based cannot take advantage of the effect teaching regarding allocation and deallocation of memory. This portion of the research perhaps which should be done as part of this project. Nim language currently is GCed but looking at doing all allocation and de allocation through static analysis. It has a great effect system (http://nim-lang.org/docs/manual.html#effect-system)

[2016-05-13 16:17] rightfold commented on #44
Yay!

[2016-05-13 17:56] xoltar commented on #46
@rockjam @josdirksen

Got the demo running. In addition to the things in this ticket, I had to also do:

[code]

After that, it worked:

[code]

[2016-05-13 17:58] #46 closed

[2016-05-13 18:10] josephwinston commented on #51
@andreaTP No joy after a deleting what I had and then running ``` git clone --recursive https://github.com/scala-native/scala-native.git```.  I then followed the recipe here <http://stackoverflow.com/questions/6631694/replace-git-submodule-protocol-from-git-to-http/6632693#6632693> to switch from ```git``` to ```https```.   The same traceback.

[2016-05-13 18:21] dwijnand commented on #46
@xoltar where is bgw-gc found?

[2016-05-13 18:42] andreaTP commented on #51
@josephwinston sorry I haven't got access ti any windows machine I can test on... Could you give a try to my docker support? manage.sh will not work but the docker commands are trivial to reproduce....

[2016-05-13 18:45] josephwinston commented on #51
I'll switch to one of the other platforms.

[2016-05-13 22:56] densh commented on #61
Unfortunately, subtree still won't help with the cross-building across several Scala versions.

[2016-05-14 03:03] josephwinston commented on #51
Using Apple LLVM version 7.3.0 (clang-703.0.31) compiled with -O3 on demo-cpp
![screen shot 2016-05-13 at 10 01 22 pm](https://cloud.githubusercontent.com/assets/226217/15265856/5dda007a-1956-11e6-8375-f96d47dab226.png)
demo-native compiled with the same level (-O3)
![screen shot 2016-05-13 at 10 01 28 pm](https://cloud.githubusercontent.com/assets/226217/15265862/7d7190c4-1956-11e6-87d2-a84ed19fd

[2016-05-14 09:26] t-hiroyoshi commented on #46
@dwijnand try this `brew install bdw-gc`.

[2016-05-14 11:46] antonkulaga opened #76 "gitter chat"
It would be nice to have a gitter chat for discussions. It prooved to be quite useful for scalajs, for instance

[2016-05-14 11:50] sjrd commented on #76
There is one, with a link on the readme.

[2016-05-14 12:14] antonkulaga commented on #76
Sorry, did not notice =(

[2016-05-14 12:14] #76 closed

[2016-05-15 01:20] densh opened #77 "Finalize binary representation of NIR"
Once Scala Native is released, all libraries will need to have NIR published for them. We need to review the binary format to make sure it's easy to extend it in binary-compatible manner as the project evolves.

- [ ] Include magic number in binary representation
- [ ] Include NIR version in binary representation
- [ ] Stabilise serialization tags

[2016-05-15 01:26] densh commented on #39
I've chatted with IntelliJ guys on Scala Days and they say it might be possible to add support for derivation of field types through an official extension mechanism they have. So using a whitebox macro for this seems to be the best way to go so far.

[2016-05-15 01:30] densh opened #78 "Consider integrating with Eclipse OMR"
https://github.com/eclipse/omr

The project provides an implementation of many of the runtime pieces we currently missing. Even if we can't use those directly, it should serve as reasonable foundation for own implementation.

[2016-05-15 01:38] densh commented on #78
License compatibility needs to be investigated too, it's not clear if BSD is compatible with EPL.

[2016-05-15 01:40] densh commented on #62
Eclipse OMR seems to be quite relevant. RoboVM has incompatible license (GPL), we can't use it in any form. I'm closing the ticket as it's not actionable.

[2016-05-15 01:40] #62 closed

[2016-05-15 01:42] densh commented on #65
This is not an actionable item. Github Issues are not a place for open-ended discussions, we have gitter for that.

[2016-05-15 01:42] #65 closed

[2016-05-15 01:43] david-t-daniel commented on #78
Thank you for taking the time to look into this.  I believe it is apache licensed as well APL v2

[2016-05-15 01:47] densh commented on #52
Regions are already provided by `scala-offheap`. We'll update the library once Scala Native is released. The two projects will get better integrated over time.

[2016-05-15 01:51] densh commented on #66
Scala Native's `@struct` serves the same purpose as structs in C#. `@struct` annotation changes semantics (pass-by-value vs pass-by-reference) and therefore can't just be inserted automatically.

[2016-05-15 01:51] #66 closed

[2016-05-15 02:03] densh commented on #63
This will be covered in the developer guide https://github.com/scala-native/scala-native/issues/45.

[2016-05-15 02:03] #63 closed

[2016-05-15 02:40] sirinath commented on #66
What I meant is to have any class being able to be stack allocated like in C++. If the a class you want on the stack is in a 3rd party library you cannot make it a @struct. This is something you have to think about.

[2016-05-15 02:44] densh commented on #66
Having every class being stack-allocated would completely change the language semantics. We can't do this.

[2016-05-15 02:45] sirinath commented on #78
OMR is dual licensed under EPL 1.0 and ASL 2.0. Use ASL 2.0 license.

[2016-05-15 02:47] sirinath commented on #62
RoboVM has ASL 2.0 for part of it. At least part on which they improved on Apache Harmony. You can use the ASL 2.0 parts which has alternative definition of Java class. This is what you might need for Java Interop. The GPL part is the compile and infrastructure which you cannot use. The parts which are ASL 2.0 are:

- https://github.com/robovm/robovm/tree/master/rt
- https://github.com/robovm/robo

[2016-05-15 02:49] sirinath commented on #66
No have being able to allocate a class on the stack. Not every class. Perhaps what you need is just `val vec = stackalloc[Vec] ` without the rest.

[2016-05-15 02:51] sirinath commented on #66
Likewise if you can devise a way to get rid of `@data` in Scala Off Heap this would be a great help.

[2016-05-15 02:52] sirinath commented on #66
`stackalloc[Vec]` is enough information to signal this is a stack allocated object

[2016-05-15 02:54] sirinath commented on #66
Likewise you can perhaps have `rc[Vec] ` to say this is heap allocated (off heap in Scala Off Heap) but reference counted

[2016-05-15 16:35] densh opened #79 "Add support for calling Scala code from C"
Currently `@extern` objects provide one-way interop between Scala and C. We need to extend it to support calls the other way around too. It used to be enabled before, but we disabled it due to some weird interactions with link-time dead code elimination. It should become much more predictable once we have https://github.com/scala-native/scala-native/issues/156.

[2016-05-16 03:31] sirinath opened #82 "Compatibility with Mainline Scala and Dotty"
It is possible to ensure that a valid Mainline Scala and Dotty programs are valid SN programs and vise versa perhaps adding these features to Scala Off Heap

E.g.

@extern can be replicated through https://github.com/bytedeco/javacpp, https://github.com/java-native-access/jna, https://github.com/jnr/jnr-ffi

Also stack access perhaps maybe replicated through JVMCI (https://bugs.openjdk.java.net/br

[2016-05-16 03:36] sirinath opened #83 "Truffle Runner for NIR"
In case a Truffle implementation of NIR would outperform the pure JVM implementation with the safety of the JVM perhaps NIR can be make to run on Truffle (https://github.com/graalvm/truffle). NIR also may need tuning to get  the best performance.

The SN LLVM IR can be tested on Sulong (https://github.com/graalvm/sulong) for perfomance comparison also.

As a performance test ideally SN should be a

[2016-05-16 03:41] sirinath opened #84 "Ready to Install SN Distributions / Installers"
Building SN and setting up is a headache. As part of CI process setup so a ready to use distribution is created. Make this available under https://github.com/scala-native/scala-native/releases.

Please add the milestone, release cadidate, GA releates also to https://github.com/scala-native/scala-native/releases with downloadable distros going forward.

[2016-05-16 03:47] sirinath commented on #78
Also consider cooperative JIT using OMR JIT to further optimise code on the runtime for which you cannot generate the most optimal native code statically to  squeeze out the last bit of performance.

[2016-05-16 04:01] sirinath commented on #79
When SN code is compiled in library mode you should be able to generate target [ABIs](Application_binary_interface)

[2016-05-16 06:38] sirinath commented on #77
Before finalising format make sure the format gives best performance on OMR JIT and Truffle. This way it can serve a dual purpose of being and higher abstraction before LLVM IR and also being able to run faster than JVM ByteCode on JIT mode.

[2016-05-16 11:24] densh commented on #83
First of all, Scala Native is an ahead-of-time compiler, not a just-in-time compiler. We already have great JITs in JVMs from numerous vendors, that's not what we are aiming at.

Second of all, NIR was explicitly designed as an intermediate stage between Scala's typed ASTs and LLVM's IR. It's definitely possible to compile it other targets, interpret it or even stage it. None of that is the goal o

[2016-05-16 11:24] #83 closed

[2016-05-16 11:30] densh commented on #77
As I replied in [the other thread](https://github.com/scala-native/scala-native/issues/83#issuecomment-219403841), JIT compilation is out of scope for the project.

[2016-05-16 16:21] RomanHargrave opened #88 "BSD-isms in stdlib"
Linux user here.

I noticed that in order to get a working build of the demo on Linux, `__stderrp` has to be changed to `stderr` due to differences in GNU libc and BSD libc WRT to the two standard IO streams. On BSDs, `stderr` is apparently a preprocessor macro that emits  `__stderrp`. The scala-native stdlib currently assumes a BSD environment, whereas it should conditionally select `__stdXp` or

[2016-05-16 16:30] RomanHargrave commented on #82
Do you mean to suggest the ability to compile SN directly to the JVM? I may be misinterpreting your suggestion, but I like the direction SN is currently going in (e.g. not trying to be JVM compatible in favour of better native compatibility).

[2016-05-16 17:07] densh commented on #88
Hi @RomanHargrave, that's temporary. We're going to have support for conditional compilation based on target platform soon enough (https://github.com/scala-native/scala-native/issues/58). I've just started working on it in https://github.com/scala-native/scala-native/commits/topic/cross-target. This is going to resolve everybody's problem with building it on linux.

I'm closing this issue as dupli

[2016-05-16 17:07] #88 closed

[2016-05-16 17:10] sirinath commented on #82
I do not see why main line Scala cannot have the same features through Scala Off Head abite being less performant.

[2016-05-16 17:11] RomanHargrave commented on #88
Good to know.

[2016-05-16 17:12] densh commented on #82
If I understand correctly @sirinath wants Scala Native's language extensions compile to something semantically equivalent on JVM. Possibility of something like this happening is slim as we don't have time for implementing this right now (therefore the `Backlog` milestone) but we'll keep the idea in mind.

[2016-05-16 17:29] sirinath commented on #77
Without doing this you will not know if the SN implementation is optimised enough. The JVM implementation alone would be a poor benchmark and the JVM is optimised for Java. Also benchmarking against other languages like http://benchmarksgame.alioth.debian.org/ is also a poor choise as the coparisons are on toy program. OMR JIT and Truffle targeting will make you push for more performance for SN. A

[2016-05-16 17:46] sirinath commented on #83
The Java AOT Compiler Oracle is working on I believe has JITing also. One introduction to it is in: https://www.youtube.com/watch?feature=player_embedded&v=Xybzyv8qbOc. Also I believe IBM has JIT optimisations in their AOT compiler Java: http://www.ibm.com/support/knowledgecenter/SSYKE2_7.0.0/com.ibm.java.win.71.doc/diag/understanding/aot.html

There are many instances where part of a program wher

[2016-05-17 00:21] densh commented on #61
Starting point for someone to look at this issue: https://github.com/scala-js/scala-js/blob/master/project/Build.scala#L1460

[2016-05-17 00:29] densh opened #89 "Internals guide"
Should cover:
- [ ] NIR and its semantics
- [ ] Front-ends' tree to SSA conversion
- [ ] Explain how linking and how serialisation/deserialisation works
- [ ] Compiler, its passes and what do they do

[2016-05-17 02:56] sergeyshpadyrev commented on #48
I solved this problem. You need to install llvm with clang first.

[2016-05-17 03:22] sergeyshpadyrev commented on #48
I solved this problem. You need to install llvm, clang and gc first.
I did it by <a href="http://www.smartjava.org/content/getting-started-scala-native">this instruction</a>

[2016-05-17 04:39] sirinath opened #90 "Stack, structures, external objects, etc. need representation in type system through trait tagging and in the future as effects"
Perhaps you can have trait tagging some of these constructs so they are represented in the type system also. In the future when Dotty gets effects you these can be also represented and affects.

E.g. Stack variable perhaps can extend `Stack[Obj]`, similarly for structs `Struct[Obj]`, etc.

Perhaps this can be extended to Scala Off Heap.

[2016-05-17 08:44] andreaTP commented on #61
just to avoid duplicated work, I'm working on this, PR will come in the next hours...

[2016-05-17 09:09] rustup opened #91 "where comes the hello-native in README.md"
hi
I have two questions.

1> Where comes the hello-native in README.md

2> The BOEHM in develop.md does what for scala-native?  Why should this be installed?

[2016-05-17 11:18] t-hiroyoshi commented on #61
Sorry, we conflict... X(

[2016-05-17 11:24] andreaTP commented on #61
...sorry .... I updated dockerfile too ... let @densh choose anyhow

[2016-05-17 13:47] densh opened #95 "Extern call with varargs fails to eliminate boxing"
[code]

This compiles to following in NIR:
[code]

The issue arises from erroneous boxing before call to fprintf.

[2016-05-17 19:57] andreaTP commented on #28
trying to make an effort on this, I think I will need some help at some point.... available on gitter most of the time

[2016-05-17 21:02] RomanHargrave opened #97 "CBT tooling support"
I have a few projects I have been wanting to do, and I would like to use SN for them. They aren't urgent, so chances are that I will wait for some level of SN maturity. But nonetheless, it would be nice to have good tooling for SN.

For instance, C is pretty easy to write builds for due to it's simple and well documented tooling. Due to the modular nature of SN, tooling more like D would have to b

[2016-05-17 22:46] densh opened #98 "Provide conversions between CString and java.lang.String"
Add support for additional APIs:

- [ ] `def fromCString(str: CString): String = ...`
- [ ] `def toCString(str: String): CString = ...`

For clarity they should not be added implicitly to normal strings but rather be stand-alone top-level functions in `scalanative.native`.

[2016-05-17 22:49] cornerman opened #99 "Code generation crashes when invoking method on unsigned types"
While experimenting, I came across unsigned integer types (https://github.com/scala-native/scala-native/issues/41 already mentions some usability issues) . For me, the code generation throws a `java.util.NoSuchElementException` exception when invoking any method on an object of type `UByte/UShort/UInt/ULong`.

For example:
[code]

This yields the following stack trace in sbt:

[code]

[2016-05-17 22:56] sjrd commented on #98
From an API perspective, I would suggest pimps so that the user site is `s.toCString` and `s.toString`. That's how both Scala/JVM and Scala.js expose conversions between Scala types and their respective host types.

[2016-05-17 22:59] densh commented on #99
This looks like a bug, thanks for the report.

[2016-05-18 05:17] mdedetrich opened #101 "Threading model"
Currently Scala-Native is single threaded, ideally we want to support multiple true threads.

Personally I think that Scala-Native should try and mimick the Java threading model as much as possible, its one of the most flexible and high performing threading models (many limitations that come from Java's threading model come from the expressiveness of the language and not necessarily due to the JVM

[2016-05-18 05:23] sjrd commented on #101
I guess you meant Scala Native.

[2016-05-18 05:28] densh opened #102 "Linux support"
This is a meta-ticket to track progress and discuss steps necessary to get linux support on-par with MacOS X.

Tasks:

* [x] Improve automatic detection of `clang++` location. It would be great if we could automatically find all versions of `clang` installed and pick the newest one by default.

* [x] Add support for `@name` annotation (https://github.com/scala-native/scala-native/issues/40). We ne

[2016-05-18 05:33] densh commented on #102
I'm currently working on conditional compilation support, `@name` annotation will be next after that. clang detection task is up for grabs if anyone is interested.

[2016-05-18 05:43] #95 closed

[2016-05-18 06:01] RomanHargrave commented on #102
@densh most distros typically install clang named like `clang++-X.X`.

[2016-05-18 06:03] RomanHargrave commented on #102
@densh though typically, all package managers will install a symlink to `clang++`

[2016-05-18 06:24] densh commented on #101
Java Threading & Memory Models are designed to make shared mutable memory with explicit locking tolerable. Considering that both of these are considered to be anti-patterns in Scala, just blindly implementing them in Scala Native wouldn't make much sense. On the other hand, we do want some API compatibility story in this space to make it possible to cross-compile between JVM and Native.

[2016-05-18 06:40] densh commented on #48
Getting things build on Linux a bit complicated at the moment, @andreaTP's `docker/` script is the easiest way to do it semi-automatically right now. We're currently working on making it easier. I've gathered all the common issues people are hitting in https://github.com/scala-native/scala-native/issues/102 , follow that ticket for updates.

[2016-05-18 06:40] #48 closed

[2016-05-18 06:40] densh commented on #49
Getting things build on Linux a bit complicated at the moment, @andreaTP's `docker/` script is the easiest way to do it semi-automatically right now. We're currently working on making it easier. I've gathered all the common issues people are hitting in https://github.com/scala-native/scala-native/issues/102 , follow that ticket for updates.

[2016-05-18 06:40] #49 closed

[2016-05-18 06:45] densh commented on #51
We've got initial build instructions and docker image merged recently. Feel free opening pull requests if you want to improve those. We're also working on making linux build easier in https://github.com/scala-native/scala-native/issues/102 .

[2016-05-18 06:45] #51 closed

[2016-05-18 06:47] densh commented on #68
Getting things build on Linux a bit complicated at the moment, @andreaTP's docker/ script is the easiest way to do it semi-automatically right now. We're currently working on making it easier. I've gathered all the common issues people are hitting in #102 , follow that ticket for updates.

[2016-05-18 06:47] #68 closed

[2016-05-18 07:51] mdedetrich commented on #101
Fixed

This is pretty much hidden from the end user, due to the use of ThreadPool and ForkJoin pool. Java's  memory model is actually fairly low level, which makes it "easier" to implement your own threading mechanisms ontop of it

Its also the highest performing model for parallelism and as mentioned before, its something thats hidden from the user. Current Scala users don't deal with locks, but

[2016-05-18 08:04] andreaTP commented on #102
@densh talking about ```clang``` references probably the best and less opinionated way to detect packages in the C world is using cmake (also for a looking forward prespective).
What I can probably do is to try to figure out how it can be integrated.
Is this an option for you?

[2016-05-18 08:22] andreaTP commented on #101
I basically agree with @mdedetrich Scala Native should expose the most low level interface to enable cross compatibility with C libraries and let users build on top of it the desired abstraction,
Providing a strong and cosistent concurrency model like Go or Pony does is the road to have it opinionated for the rest of the life of the project.

[2016-05-18 11:59] densh commented on #101
What I was actually implying is that JMM offers way more guarantees than what most people need in Scala, and over-constraints the implementors by limiting optimisations that can be made to satisfy those guarantees. It seems like a total overkill if most people don't even do shared mutable memory that much.

Not only that, concurrency primitives are too high-level. E.g. there is no way to directly

[2016-05-18 12:11] densh commented on #28
@andreaTP I'm available on gitter for help, ping me if you have any specific things you need.

[2016-05-18 12:11] densh commented on #61
Fixed in https://github.com/scala-native/scala-native/pull/93

[2016-05-18 12:11] #61 closed

[2016-05-18 12:16] densh opened #104 "Provide complete bindings for C11's libc"
- [ ] assert.h
- [ ] complex.h
- [ ] ctype.h
- [ ] errno.h
- [ ] fenv.h
- [ ] float.h
- [ ] inttypes.h
- [ ] iso646.h
- [ ] limits.h
- [ ] locale.h
- [ ] math.h
- [ ] setjmp.h
- [ ] signal.h
- [ ] stdalign.h
- [ ] stdarg.h
- [ ] stdatomic.h
- [ ] stdbool.h
- [ ] stddef.h
- [ ] stdint.h
- [ ] stdio.h
- [ ] stdlib.h
- [ ] stdnoreturn.h
- [ ] string.h
- [ ] tgmath.h
- [ ] threads.h
- [ ] time.h
- [ ]

[2016-05-18 12:39] mdedetrich commented on #101
Sounds good, however I am unsure as to how green threads fit into this model. Green threads are a pretty high level concept, with implementations that differ amongst different runtimes. They also force a specific programming model.

I guess my general point is that when you have a look at what has happened with other languages that implement green threads, they always end up using locks/semaphores

[2016-05-18 13:54] densh commented on #104
That's a nice starting task for someone who wants to contribute some work. Just pick one of the header, go through all the functions and write signatures for them in terms of our native types that are defined in https://github.com/scala-native/scala-native/tree/master/nativelib/src/main/scala/scala/scalanative/native

[2016-05-18 14:00] andreaferretti commented on #101
Also, consider that the threading model is intertwined to the memory and garbage collection model. For instance, Nim (in default mode) exposes separate garbage collected heaps for each thread, and a shared heap that is manually allocated. This is not ideal for many applications, but has the advantage that GC on one thread will not stop the world for other threads. The JVM offers a single shared he

[2016-05-18 14:19] mdedetrich commented on #101
Indeed this is how nim deals with the "stop the world" issue. And yes its very true that how your GC is designed ties in strongly with your threading model. Its also a good way to deviate from JVM (like providing almost realtime guarantees for garbage collection). Should probably explore that the Azul guys do. Rubinius is meant to do some crazy stuff, so does LuaJit

[2016-05-18 15:27] andreaTP commented on #28
unfortunately this come out to be a bit harder than I thought, probably I will need some more understanding on the actual infrastructure to help on this, sorry....

[2016-05-18 15:31] densh commented on #28
@andreaTP no worries.

[2016-05-18 15:42] densh commented on #102
@andreaTP We need to minimise our external dependencies to bare minimum. Using `cmake` to discover clang means we need to find `cmake` first, and also `cmake` has to be installed on end-user machine. Current plan for installation complexity should roughly fit in 3 steps:

1. $packageManager install sbt clang boehm-gc
1. git clone template-project; cd template-project
1. sbt run // running hello-wo

[2016-05-18 15:57] andreaTP opened #107 "regression, missing implementation with no default value in constructors"
[code]
This causes
[code]

but this:
[code]
perfectly run ...

[2016-05-18 17:18] TimothyKlim commented on #104
I'll try to finish this task until the end of the week.

[2016-05-18 19:24] mdedetrich commented on #101
Also note that Haskell supports real threads and locks, just as it supports green threads. You can read about it here https://wiki.haskell.org/Concurrency

[2016-05-18 23:26] mkotsbak commented on #104
Isn't this possible to automate using a script?

[2016-05-18 23:33] TimothyKlim commented on #104
I'm using own python + clang script to do this: https://gist.github.com/TimothyKlim/a65289901221451e515e408014eb3613

[2016-05-19 01:06] frgomes commented on #45
List of requirements:
$ apt-get install clang-3.8 # what else?

[2016-05-19 03:40] zeocio opened #110 "Build basic REPL with LLDB and language plugin"
It would be nice to have a REPL with support for:
- incremental compilation
- platform standard ABI
- loading/calling C/C++ shared libs
- AST/IR/MC debug/trace/instrumentation
- metadata (typeinfo and debugging symbol) introspection

Such a REPL (even a rudimentary one) can help accelerate many SN dev tasks.

It might be a lot of effort to create a REPL similar to https://root.cern.ch/cling. For a

[2016-05-19 05:44] t-hiroyoshi commented on #20
I'll try to make an effort on this:)

[2016-05-19 10:24] cornerman opened #111 "AssertionError on tuple deconstruction"
Deconstruction of tuples seems to be broken.

[code]

Leads to the following error when running:
[code]

Interestingly, using pattern matching (`(1,2) match { case (a,b) => ...}`) or a Tuple3 (`val (a,b,c) = (1,2,3))` does not throw an AssertionError, but says: `terminate called after throwing an instance of 'scalanative::ExceptionWrapper*'`

[2016-05-19 12:13] cornerman opened #112 "Pattern matching extractors yields wrong result"
Defining extractors works fine, but pattern matching them gives inverted results:

[code]

The output is:
[code]

I would have expected it to print `pos`. It seems as if it matches the first unapply method which returns `None`, instead of `Some(Int)`. It is also not possible to use the extracted value `x` on the rhs of the case clause, as it crashes with `terminate called after throwing an instanc

[2016-05-19 12:31] densh commented on #112
Thanks, this is definitely a bug.

[2016-05-19 12:32] densh commented on #111
Thanks for the bug report.

[2016-05-19 12:34] densh commented on #110
The idea sounds great, I'd definitely love to see something like this happen in the future. We need to start with emitting basic lldb-friendly debug information first (https://github.com/scala-native/scala-native/issues/29).

[2016-05-19 12:35] densh commented on #107
Thanks for the bug report.

[2016-05-19 12:39] densh commented on #20
Apache harmony code should be quite straightforward to port it over to Scala. Make sure you're not using any GPL-licensed code as the reference. The second part of the task requires changes in the compiler, just ping me when you have initial prototype compiling and I'll update it for you.

Another thing. `java.lang.String` is actually `java.lang._String` in the source code. This is due to scalac h

[2016-05-19 12:42] densh commented on #104
@TimothyKlim This looks great, would you be interested in expanding this script into full-blown tool for automatic binding generation? We'd love to home something like this in the project.

[2016-05-19 13:06] densh commented on #110
On the other hand, what are the benefits of doing this within `lldb` rather than within `sbt`? We already have initial integration with sbt, and we can add more tasks for introspective purposes quite easily. Getting toolchain off the JVM won't happen overnight as that would imply bootstrapping both scalac and native compilers.

[2016-05-19 13:38] densh commented on #90
This change is out of scope. We don't aim at complicating Scala type system any further.

[2016-05-19 13:38] #90 closed

[2016-05-19 13:47] densh opened #113 "Windows support"
We currently don't support compiling code on Windows. Initial investigation is needed to see what exactly needs to be done there.

[2016-05-19 15:14] sirinath commented on #90
This does not affect Scala side of thing. This is using the Scala type system for additional protection in SN fro the new concepts introduced in SN like e.g. on the stack variable or structure, which are not found in mainline Scala. You need some way to distinguish between if what you are dealing with or some function is specific to what has been introduced in SN. Say I want to define a generic fu

[2016-05-19 20:15] zeocio commented on #110
The main benefit of lldb is its "target" support, which is platform, ptrace, thread, call stack, dwarf etc. I like your idea of running the main REPL interp loop from sbt/jvm context, where more metadata from compile passes is available. We can still leverage all lldb (and llvm) capabilities via a jni bridge.

We can use lldb to set up and manage a dummy "target" process where the evaluation of IR

[2016-05-19 20:39] julien-h opened #115 "Proposal: first-class support for stack allocation"
This issue is based on the snippet shown in the readme, and concerns the syntax of stack allocation.

For obvious performance reasons, stack allocation is the preferred way to allocate objects and structs local to a function. It is the default mode in C++ [and Rust](https://doc.rust-lang.org/book/the-stack-and-the-heap.html#which-to-use).

Hence, I expect most of the `val` and `var` in native-scal

[2016-05-19 21:32] sjrd commented on #115
(@densh should confirm, but I'm confident I can answer this:) Changing the syntax or type checking of Scala is impossible for practical reasons (not only is it hard to change that in the compiler, but it also prevents tools such as sbt or IDEs from understanding Scala Native), and therefore out-of-scope for this project.

Anyway, I think your concern is not founded. `stackalloc` is only needed for

[2016-05-20 04:30] TimothyKlim commented on #104
@densh I can't promise but I'll try to complete this as a tool within this task.

[2016-05-20 06:57] TimothyKlim commented on #104
Which convention I need to use to declaring necessary constants in extern object? For example, I have `signal.h` constants as macros which cannot be extracted:
[code]
and I can't declare these as `final val`s in extern object.

[2016-05-20 07:31] mkotsbak commented on #104
@TimothyKlim ah nice. Then you just need to run it on libclang to convert the script to Scala native :)

[2016-05-20 07:32] mkotsbak commented on #104
Hmm, regarding constants, maybe use Enumeration instead?

[2016-05-20 08:14] sjrd commented on #104
In Scala.js, for similar situations, we declare them as `final val`s in a separate non-extern object.

[2016-05-20 08:31] sjrd opened #117 "nscplugin should be cross-compiled against the *full* Scala version"
The scala-compiler.jar API is not binary (nor source) compatible between minor versions of Scala. Therefore, the `nscplugin` project should be cross-compiled with the full Scala version with this sbt setting:
[code]
and dependencies on it should be written as
[code]
See https://github.com/scala-js/scala-js/blob/v0.6.9/project/Build.scala#L515 and https://github.com/scala-js/scala-js/blob/v0.6.9/sb

[2016-05-20 08:38] TimothyKlim commented on #104
@sjrd, I saw that scala.js supports `@native trait`s and I can easily extend an object with my `val`s (in scala native I can't do it right now). Which naming format are you using for separate object?

[2016-05-20 08:54] sjrd commented on #104
In Scala.js, an `@js.native trait` can only be extended by an `@js.native class`, so the vals in the extended class must also be native. I don't think this is relevant in this context.

There's no strict rule. In most cases JS APIs appear in classes/traits more than objects, which allows us to simply use the companion object of the native class/trait to store non-native constants. This doesn't wor

[2016-05-20 08:57] TimothyKlim commented on #104
Got it, thanks!

[2016-05-20 10:42] densh commented on #33
Fixed in #96

[2016-05-20 10:42] #33 closed

[2016-05-20 11:15] julien-h commented on #115
Hi sjrd,

Yeah well, most local objects are created and then **passed to helper functions**. There is only a very restricted set of things you can do without helper functions (unless you write 200 lines functions, of course...).

Agreed but the "syntax" should be fixed at the earliest possible stage to avoid the weight of (bad) habits.

How about :

    @stack
    val vec = new Vec(1, 2, 3)

The t

[2016-05-20 11:43] sjrd commented on #115
I would have to seriously think about it, but I have a draft of an optimizer algorithm that would still allow that to work. Basically, you traverse the call graph from escape points (e.g., when a reference is stored on the heap) backwards to allocation points to mark those allocation points as "need heap allocation". After this pass, unmarked allocations can all be optimized on stack.

[2016-05-20 12:41] DarkDimius commented on #115
@julien-h @sjrd Escape analysis is one of the most simple analysis to implement and (almost) every dataflow algorithm is going to have enough information to subsume escape analysis.
It's quite likely that I'll need a dataflow analysis quite soon in https://github.com/dotty-linker/dotty and building escape analysis on top of it is going to be trivial.

[2016-05-20 13:12] densh commented on #115
Thanks for bring this topic up, @julien-h. I agree that familiarity is an important aspect and we would want to make Scala Native as unsurprising to existing developers as possible.

At the same time, as @sjrd pointed out, any syntax changes are out of scope. We're still Scala at the core, and don't plan on making any drastic changes to the language (i.e. no changes to syntax, type system and sema

[2016-05-20 13:16] densh commented on #115
@sjrd @DarkDimius Escape analysis is easy as long as it's within a single function, it's quite hard if you want to support use cases like this:

[code]

AFAIK HotSpot won't be able to do this unless both helpers are inlined. C++'s and C#'s pass-by-reference can do it even if they are not.

[2016-05-20 15:36] julien-h commented on #115
So we won't need stack pointers at all then ?

[2016-05-20 23:14] DarkDimius commented on #115
@densh I've been recently discussing with @olhotak a case where we would need a quite simple whole-program dataflow analysis. It is going to be simple as it would base on a precise call-graph.

We have some research projects in mind that would require implementing such an analysis and the covered cases should include the case you've demonstrated(unless some of .... makes `x` escape to heap)

[2016-05-21 00:57] julien-h commented on #115
@densh I think that improving usability on the pointer type is a good compromise since it does not impose a syntactic cost on the programmer and can also be applied to heap pointers (win/win).

I still need time to document and think about the `ref` alternative.

Are you in lausanne next Wednesday on the occasion of the LAMP Open House at EPFL ?

[2016-05-21 09:25] densh commented on #115
@DarkDimius Looking forward to that. 👍

@julien-h Yes, I'll be at the LAMP Open House.

[2016-05-21 09:34] densh commented on #43
Duplicate wrt https://github.com/scala-native/scala-native/issues/115

[2016-05-21 09:34] #43 closed

[2016-05-21 10:12] densh commented on #104
@sjrd's advice is spot on.

[2016-05-21 10:13] densh opened #119 "Introduce proper logging"
We need proper configurable logging story to cover nscplugin, linker, compiler and sbtplugin.

[2016-05-21 10:52] densh commented on #97
This is a great discussion topic @RomanHargrave, thanks for bringing this up.

Our current tooling strategy is based on sbt. We're working on a plugin that should make it extremely easy to build/run and publish Scala Native code. This build tool was chosen as it's most familiar to existing Scala developers. I understand your gripes with `sbt`, it has a bit of a learning curve, even if you're just

[2016-05-21 12:29] densh commented on #102
@alexdupre was kind enough to contribute the solution to the first task on the list. Now I need get down to the other two.

[2016-05-21 16:04] RomanHargrave commented on #97
If an SBT plugin is in the pipeline, that may well serve as good enough documentation for alternative build methods.

My dislike for SBT stems mainly from the issues that plagued older versions (e.g. newlines, etc, didn't behave like scala even though it is scala). Nonetheless, what would be needed for implementing other systems is documentation on how the compiler is invoked and what parameters m

[2016-05-21 16:20] frgomes commented on #97
SBT is complex internally and difficult to understand even if you are not interested on its internals. Despite SBT wosks really well and its very flexible, I cannot stop thinking that its over-engineered.

Recently I've discovered CBT, which embraces the lemma that "a task is a def". Looks pretty simple and flexible enough.

i will try CBT on my http://github.com/frgomes/poc-scala-native

I've als

[2016-05-21 20:12] Milyardo commented on #97
SBT isn't anchored on Scala 2.10, SBT 1.0 is already on Scala 2.11, will probably be scala 2.12 depending on which reaches maturity first. SBT 0.13 is anchored on scala 2.10 because of binary compatibility with plugins.

Marcos aren't JVM dependent and already work in SN for free.

[2016-05-21 20:14] RomanHargrave commented on #97
I do have to agree with @frgomes, though.

It would be nice to have a language that is independent of the JVM.

[2016-05-21 21:41] xeno-by commented on #97
@frgomes As @Milyardo rightfully pointed out, macros work in all three backends for Scala - Scala JVM, Scala.js and Scala Native. That's because they expand in the compiler frontend that is shared between all those backends.

Also, there are no plans to abandon macros in future versions of the language. There are too many popular libraries that use macros for that to happen. See Martin Odersky's p

[2016-05-21 22:26] densh commented on #91
1. It's not in the repo atm, you can replicate it by having following code in sandbox:

[code]

2. We use Boehm GC as our garbage collector at the moment.

Please use gitter or stackoverflow for this kind of questions in the future.

[2016-05-21 22:26] #91 closed

[2016-05-22 18:09] densh opened #121 "Dynamic linking of Scala code"
Currently Scala Native only supports dynamic linking with C libraries. All of the Scala code has to be statically known at compile-time. We need to explore the space of dynamic linking of Scala code, it might still be feasible in some form.

[2016-05-22 18:12] mdedetrich commented on #121
Since scala-native plans to have full TCO (if it already doesn't have so), this can complicate matters in regards to making dynamically linked libraries. Rust, for example, had to drop support for full TCO (see https://mail.mozilla.org/pipermail/rust-dev/2013-April/003557.html) for such reasons.

I am not sure if its possible to have an ABI that respects full TCO without throwing performance out t

[2016-05-22 18:45] mdedetrich commented on #121
Also another important link regarding TCO http://llvm.org/docs/CodeGenerator.html#tail-call-optimization. According to the docs, you need to use a specific calling convention if you want full TCO (which isn't the C calling convention), quoting the docs

[2016-05-22 19:02] densh opened #122 "Use fastcc calling convention for Scala code"

[2016-05-22 20:45] densh commented on #42
Fixed in https://github.com/scala-native/scala-native/pull/123

[2016-05-22 20:45] #42 closed

[2016-05-22 22:05] frgomes commented on #97
@xeno-by When I saw the other day the presentation you mention, I understood from slide #30 that part of the current support for macros in 2.11 would be dropped. Remember that breaking things was never a blocking factor for evolution of the language, and it will not be different in 2.12.

[2016-05-23 03:46] Milyardo opened #124 "Add SBT support to version libraries against the version of Scala-native or NIR it's compiled against."
Users of Scala Native libraries will need ensure that libraries they are using are compiled against some binary compatible version Scala Native. Scala.js currently uses the `%%%` operator to add the append the Scala.js version to the artifact name.

[2016-05-23 08:32] mdedetrich opened #126 "Bundle LLVM with Scala Native"
LLVM tends to be fairly brittle between releases and it also rarely backports fixes into earlier versions. Most languages that have a LLVM backend tend to bundle LLVM (usually as an executable or inlined into the compiler) for this reason. As far as I know the languages which do this are
- Swift
- Haskell (for its LLVM backend)
- Rust? (can someone clarify this)

Also it greatly helps people getti

[2016-05-23 09:26] densh commented on #126
I think it's an option we need to consider seriously for the future. It requires quite a bit of time investment to implement the infrastructure to publish and fetch our own releases, but it has a huge potential of making setup a single-step process (add one line to sbt, and it will do everything for you.)

[2016-05-23 09:51] mdedetrich commented on #126
So there are a couple of ways to approach this

* Create `.jar` libs out of LLVM. Personally I am not a fan of this option, I don't see immediately how creating libs of out LLVM executables/sources is useful (I don't see other projects needing to use the LLVM executable/source). It could also make it more annoying in regards to publishing for different platforms
* Have the LLVM sources/executables

[2016-05-23 11:38] xeno-by commented on #97
@frgomes There are no plans to drop support for macros in 2.12.

What Martin meant (slide 26) is that Dotty, the new experimental compiler for a Scala-like language, isn't going to support current macros. Instead (slide 50), we want to implement very similar functionality in a somewhat different way. The API is going to change, so it's very likely that some migration effort will be needed. However

[2016-05-23 13:33] phdoerfler opened #127 "Have decent Objective-C interop"
It is said that having decent interop with Objective-C might be an achievable goal in contrast to C++ interop. It might be worth exploring this in the long term.

[2016-05-23 16:42] ebruchez opened #128 "Better GC"
Adding this as a backlog idea.

[sgen](http://www.mono-project.com/docs/advanced/garbage-collector/sgen/) is Mono's newish garbage collector, introduced to replace the old Boehm. It is a generational gc, and since it works for Mono, I would think it could fit the bill for Scala Native as well.

Here is the [source code](https://github.com/mono/mono/tree/c642d898a4345554751f163ed3714fd2bf012fbe/mon

[2016-05-23 18:54] cvogt commented on #97
FYI: Scala Native support for CBT is being tracked here now: https://github.com/cvogt/cbt/issues/129

[2016-05-24 01:39] RomanHargrave commented on #97
@cvogt great!

[2016-05-24 07:19] sirinath commented on #128
IBM J9 GC is available through Eclipse OMR. So is the Core.Net and .Net LLILC. Please evaluate and choose the most performant of the GCs than choosing one arbitrarily.

[2016-05-24 08:40] densh commented on #97
Both having CBT support for building SN code and being built by SN are reasonable goals we can target. It's also actionable, so this ticket will stay to track progress on that front.

[2016-05-24 09:45] sjrd commented on #37
SIMD support should probably be co-designed with Scala.js, as SIMD.js is coming.

[2016-05-24 11:41] #117 closed

[2016-05-24 12:21] fbertra opened #130 "Accessing args main parameter generates Segmentation fault"
The following code generates a Segmentation fault before the fprintf call.

´´´

    val len = args.length

    fprintf(stdout, c"Hello bare metal\n")

    if (len == 0)
      // ...
´´´

Full example:
https://github.com/fbertra/scala-native-segmf

[2016-05-24 12:24] fbertra commented on #130
Seen on Linux Ubuntu 16.04

clang++ -v
Ubuntu clang version 3.7.0-2ubuntu4 (tags/RELEASE_370/final) (based on LLVM 3.7.0)
Target: x86_64-pc-linux-gnu
Thread model: posix
Found candidate GCC installation: /usr/bin/../lib/gcc/x86_64-linux-gnu/5.2.1
Found candidate GCC installation: /usr/lib/gcc/x86_64-linux-gnu/5.2.1
Selected GCC installation: /usr/bin/../lib/gcc/x86_64-linux-gnu/5.2.1
Candidate mul

[2016-05-24 12:24] densh commented on #130
Thanks for the bug report!

[2016-05-24 13:34] densh commented on #40
Fixed in https://github.com/scala-native/scala-native/pull/129

[2016-05-24 13:35] #40 closed

[2016-05-24 13:37] densh commented on #104
@TimothyKlim Are you still working on this?

[2016-05-24 13:42] densh opened #131 "Enforce scalafmt formatting"
As @sjrd pointed out, reformatting the code in the same pr is a bad idea.

So we need to have an official way to enforce that:

* [ ] The codebase is always formatted with current version of scalafmt
* [ ] Every change to scalafmt version or config must be accompanied with reformatting of the whole code base
* [ ] Every new pr is properly formatted with scalafmt

All of this can be done through a

[2016-05-24 16:00] ebruchez commented on #128
Just googling a bit:

- [OMR gc](https://github.com/eclipse/omr/tree/master/gc), under Eclipse Public License/Apache
- [CoreCLR gc](https://github.com/dotnet/coreclr/tree/master/src/gc), under MIT license

I agree it would be ideal to choose the best one. Figuring out which one that is might not be easy.

[2016-05-24 18:44] RomanHargrave commented on #97
That's great @densh

I am still curious about the possibility of getting some form of `cc` style command.

[2016-05-24 19:57] densh opened #132 "Optimize NIR for size"
Currently we have fairly naïve binary representation for NIR that doesn't attempt to do anything smart to save on the file size. A few obvious things can be done to shrink it down a bit:

- [ ] Constant/name/type pools
- [ ] Use variable-size encoding for numbers (e.g. small numbers should not take 4 bytes)
- [ ] Use implicitly-numbered SSA form with relative indexing of values
- [ ] Use implicit

[2016-05-24 19:58] densh commented on #77
I've just moved non-blocker parts of this issue to https://github.com/scala-native/scala-native/issues/132

[2016-05-24 19:59] densh commented on #132
Possible source of inspiration for this: http://wiki.luajit.org/SSA-IR-2.0

[2016-05-24 20:08] TimothyKlim commented on #104
@densh, I'm currently don't have much time to complete some headers and publish python script as a tool. I'll try to find free time on this week to get done some of these headers if no one will take it.

[2016-05-24 20:49] sjrd commented on #77
Add positions.

[2016-05-25 02:54] sirinath commented on #128
LLILC refs docs about gc: https://github.com/dotnet/llilc/blob/master/Documentation/llilc-gc-transition.md, https://github.com/dotnet/llilc/blob/master/Documentation/llilc-gc.md

[2016-05-25 08:40] densh commented on #128
Just a minor clarification: it's possible to have a GC derived from one of the existings ones, but it's unlikely that anything is going to be as reusable as Boehm GC. This is due to the fact that efficient GCs are usually tightly coupled to the underlying managed runtime they're meant for. For "good" GC will probably study existing solutions and come up with our own thing that takes internals of S

[2016-05-25 09:24] sirinath commented on #128
In Which case the best GC algo is in the Azul Zing VM which is not open sourced through. OCaml GC algo is pretty good I believe but have to dig deep. Also there is [MPS](http://www.ravenbrook.com/project/mps/) which is not under a permisive license through but may be worth while to study. The best situation would be if you can upstream the GC to the LLVM project which means perhaps more contributo

[2016-05-25 12:15] densh commented on #77
Fixed in https://github.com/scala-native/scala-native/pull/134

[2016-05-25 12:15] #77 closed

[2016-05-25 12:18] densh commented on #29
@sjrd Adding positions will be a part of this issue.

[2016-05-26 14:59] densh opened #135 "Better templating"
We currently use `project/gyb.py` script (that we borrowed from Swift) for textual template instantiation in some places. Currently it needs to be called manually to expand the templates.
- [ ] Auto-expand gyb files in sbt
- [ ] Fix absolute paths in sourcelocation comments

Alternatively we could get rid of it altogether and replace it with something better. I'd personally love to use scala.meta

[2016-05-27 09:34] densh commented on #58
I've just started exploring this in https://github.com/densh/sbt-cross-project

[2016-05-27 09:37] densh commented on #124
The fix for this issue is going to be part of the solution for https://github.com/scala-native/scala-native/issues/58

[2016-05-27 09:37] #124 closed

[2016-05-27 09:40] densh commented on #102
Conditional compilation is a feature that looks small on the surface, but goes deep down with it roots under the ground.

[2016-05-27 11:51] densh commented on #135
It would also be great to get rid of it by replacing with something less ad-hoc.

[2016-05-28 15:56] ebruchez commented on #128
Adding reference to [Android gc](https://android.googlesource.com/platform/art/+/master/runtime/gc/) for consideration as well.

[2016-05-30 09:52] densh commented on #78
I'm closing this issue as we have a bigger ideas thread in https://github.com/scala-native/scala-native/issues/128

[2016-05-30 09:52] #78 closed

[2016-05-30 09:54] densh commented on #22
Fixed in #94

[2016-05-30 09:54] #22 closed

[2016-05-30 13:33] sirinath opened #136 "Strategy for JVM / Java ByteCode Support Roadmap"
Many Scala libraries depend on Java libraries. Also some of these Java Libs may use internal APIs and  use Java reflection. There needs to a proper roadmap and strategy to support these type of projects and increase subset of Java which can be used from SN. So what are enhancements needed as well as issues to properly support Java Library dependencies on SN. As the identified issues are closed and

[2016-05-30 13:38] densh commented on #136
Running "any" Scala JVM library is out of scope for Scala Native. A subset of java core libraries is going to be supported, but we do not plan implementing all of them.

[2016-05-30 13:38] #136 closed

[2016-05-30 14:10] mdedetrich commented on #101
Here is an SO answer about the issues that Rust had in regards to implementing green threads in the language. May not be entirely relevant to Scala Native, but worth looking into

http://stackoverflow.com/questions/29428318/why-did-rust-remove-the-green-threading-model-whats-the-disadvantage

[2016-05-31 05:36] t-hiroyoshi commented on #20
@densh
I've done this https://github.com/t-hiroyoshi/scala-native/blob/java-string/javalib/src/main/scala/java/lang/String.scala
Do you have any advices for me?

[2016-06-02 09:05] densh commented on #20
@t-hiroyoshi Can you open a PR for that? I have a few improvements to suggest.

[2016-06-02 10:02] t-hiroyoshi commented on #20
@densh Okay thanks:)

[2016-06-02 12:28] densh commented on #101
@mdedetrich Rust experience is extremely valuable data point, thanks for sharing. Green threads were expensive for Rust given that they don't need safe-points at the moment due to their ownership-based memory model. We'll need safe-points for a better/safer GC implementation and they can also be re-used to implement green threading with preemption.

[2016-06-02 13:32] #60 closed

[2016-06-02 13:39] densh opened #141 "Use malloc_atomic to allocate classes that don't contain pointers"
In https://github.com/scala-native/scala-native/pull/137 @fbertra introduced support for `malloc_atomic`. Now we communicate to Boehm GC that primitive arrays are pointer-free. The same idea can be expanded to implement allocations of classes without managed pointers to be allocated in the similar way.

[2016-06-02 14:09] densh opened #142 "Implement Array.copy"
Currently we don't have an implementation of array copying. Should be quite an easy task to contribute.

/cc @fbertra

[2016-06-02 14:14] densh opened #143 "Add 32-bit architecture support"
Currently we assume `Word` to be 64-bit in a few places:
- [ ] Have different aliases for C types depending on architecture (depends on https://github.com/scala-native/scala-native/issues/58)
- [ ] Compiler's implementation of `sizeof` should return `Word`-sized integer, not 64-bit.
- [ ] Conditionally pick use of `memset`/`memcpy` intrinsics based on the architecture for arrays implementations

[2016-06-02 14:31] fbertra commented on #142
I'll take a look

[2016-06-02 16:30] fbertra commented on #142
Easy enough! I can contribute this one.

[2016-06-03 09:33] densh opened #144 "Add sbt command for linking only"
Currently to get a native artifact one has to call `run` in sbt. It compiles code all the way down to native code and then runs the generated binary. We need a command to just compile the code, without running (e.g. `nativeLink`).

[2016-06-03 14:41] DarkDimius opened #147 "Add support for finalizers"
Apparently BoehmGC has some hooks that would allow implementing finalisers.

[2016-06-03 14:54] densh commented on #147
Even though we don't call finalizers at the moment we're JVM-compatible semantics-wise as they are not guaranteed to be run at all.

[2016-06-03 15:04] densh commented on #142
@fbertra Looking forward to that!

[2016-06-04 22:08] fbertra commented on #144
Please note that when the "nativeLink" part in "sbt run" fails, it doesn't delete the target/scala-2.11/${PROJECT_NAME}-out executable file and "sbt run" runs the last successful executable version.

[2016-06-04 23:02] fbertra opened #148 "Enforce extern methods define their return type"
The following method don't define its return type.

[code]

Compiler and linker won't detect it.  Execution will raise a `Segmentation fault (core dumped)`

Please see https://github.com/fbertra/sn-test-enforce_return_type_on_extern for a test case and more information (the generated LL file contains a "unreachable" instruction)

[2016-06-04 23:14] sjrd commented on #148
FTR, this is how Scala.js does it:
https://github.com/scala-js/scala-js/blob/c51ce4ca53f70e300d2f99d40654aefec2ef97af/compiler/src/main/scala/org/scalajs/core/compiler/PrepJSInterop.scala#L828-L835

[2016-06-05 00:00] fbertra opened #149 "Gap in %src. sequence causes "error: use of undefined value""
The following method

[code]

log the following error during the "nativeLink" phase

[code]

An extract of the .ll file near line 255.

[code]

A possible workaround is casting the pointer in different method,

[2016-06-05 00:05] fbertra commented on #149
Note: this is a case where the nativeLink phase fails, but don't delete a previously generated executable file and "sbt run" executes it.

See my comment in issue https://github.com/scala-native/scala-native/issues/144

[2016-06-05 00:23] fbertra commented on #149
A test case https://github.com/fbertra/sn-test-gap-in_-src.sequence

[2016-06-05 01:28] fbertra opened #150 "Full scala collections support"
This is an umbrella issue for tracking support of Scala collections.

Current state
-----------------

- Scala collections code do compile (the whole scala-library do)

- Most methods do not run due to issue https://github.com/scala-native/scala-native/issues/6 "Add support for traits in compiler".  For example:

[code]

generates the following stack trace

[code]

- Some methods are missing like

[2016-06-05 09:37] densh commented on #150
This is accurate state of things. Trait support in the compiler is the main blocker at the moment.

[2016-06-05 09:52] densh commented on #147
This is blocked by https://github.com/scala-native/scala-native/issues/36

[2016-06-05 10:31] densh commented on #131
Fixed in #138

[2016-06-05 10:31] #131 closed

[2016-06-06 12:09] densh opened #153 "Control-flow constructs inside C-style varargs crash the frontend"
[code]

Crashes with:

[code]

[2016-06-06 14:03] frgomes commented on #126
Pre-built binaries are available at http://llvm.org/releases/download.html and it would not be complicated to tell SBT to download and install LLVM in case it turns out to be necessary.

[2016-06-06 14:09] frgomes commented on #97
Both ``scana-native`` from command line and ``cbt`` from command line would be great alternatives for development of system software (instead of ``cc`` + ``make``) and also for developing quick ad-hoc tools (instead of ``python``). Scala end-to-end, all over the place.

[2016-06-06 14:31] frgomes commented on #38
Rust has an interesting concept of traits, which is somehow close to the idea of 'structs implementing traits'. In Rust, you basically define an ``impl`` which wires a ``trait`` (behavior) to a ``struct`` (data). In Rust, you can only extend traits; you cannot extend structs. In a nutshell, the conceptual model is upside-down in comparison to Scala: in Rust, you do not have data with associated be

[2016-06-06 16:20] fbertra commented on #142
More TO-DO's than code, but this is the branch if anyone is interested.

https://github.com/fbertra/scala-native/tree/implement_array_copy

I may refer to it if/when asking questions.

[2016-06-07 11:29] densh opened #154 "Automatic binding generation"
It would be great to have a tool to automatically generate `@extern object` signatures for C header files. Clang provides a great API for treating C code programmatically and it's probably the best foundation that we should build upon.

[2016-06-07 11:29] densh commented on #154
Possible inspiration for this: http://forum.dlang.org/post/ngxvmfqusvhyezwdbvaq@forum.dlang.org

[2016-06-07 11:30] densh commented on #154
@TimothyKlim you seem to have looked at this issue before, can you share your current prototype, maybe someone else will pick it up?

[2016-06-07 11:35] #20 closed

[2016-06-07 11:36] densh commented on #20
Thanks a lot to @t-hiroyoshi and @sjrd for fixing this one. It was a great team effort to get this one closed! 👍

[2016-06-07 11:37] densh commented on #98
This one has just been un-blocked.

[2016-06-07 11:55] densh opened #155 "Add support for linking Scala code as a native library"
We already have an interop layer across C ABI: `@extern object`.

- [ ] Add support for linking without injecting `main` entry point in the compiler
- [ ] Don't disallow having non-extern methods in extern objects (https://github.com/scala-native/scala-native/issues/79)

This will let our toolchain produce "*.so"/"*.dylib"/"*.dll" files.

[2016-06-07 12:00] densh opened #156 "Add support for class pinning"
Currently we dead-code eliminate all unreachable classes and modules. For some use-cases like reflection it might be beneficial to whitelist some classes to be always included. This is going to be implemented as an sbt key `nativePinnedClasses` that will let one enumerate all the classes that should stay in compiled code.

[2016-06-07 12:13] densh commented on #130
The reason why this happens is that we currently don't convert C-style main args to Scala-style main args in https://github.com/scala-native/scala-native/blob/master/nativelib/src/main/scala/scala/scalanative/runtime/package.scala#L25 . Now that we have implemented strings and arrays it's one step away from fixing this one.

[2016-06-07 12:14] densh commented on #98
Related: https://github.com/scala-native/scala-native/issues/130

[2016-06-07 12:15] densh commented on #26
I'm splitting this one in a set of smaller issues as most of the work has already been done here.

[2016-06-07 12:15] #26 closed

[2016-06-07 12:16] densh opened #157 "Front-end ignores finally clause"
Currently we don't generate any code for finally blocks in the front-end. This should be trivial to fix.

[2016-06-07 12:17] densh opened #158 "Pretty-print the stack trace if app crashes"
If exception has reached the injected main we should pretty print the stack trace and exit. Default exception handling on llvm doesn't do this for you.

**Workaround**: run the app in `lldb` to see the stack trace with `bt` command.

[2016-06-07 12:18] densh commented on #79
@sirinath I've opened a #155 for that.

[2016-06-07 12:24] densh opened #159 "Add support for java-style reflection"
Many of the existing Scala frameworks rely heavily on Java reflection.
- [x] Add support for member pinning via `@pin`
- [ ] Add support for class pinning (https://github.com/scala-native/scala-native/issues/156)
- [ ] Expand generated RTTI to include information to find and call methods/constructors
- [ ] Use new RTTI to implement reflection-related subset of `java.lang.*` and `java.lang.reflect.

[2016-06-07 12:29] phdoerfler commented on #98
How does a CString handle Unicode (codepoints)? In particular: does this need special attention in the conversion? Is this trivial? What about Unicode above the basic multilingual plane? Should we use CharSequence instead of String?

[2016-06-07 12:36] sjrd commented on #98
Unlike Java/Scala Strings, which are UTF-16 by contract, C strings do not have a definite encoding. They're almost more sequences of bytes than characters.

Therefore, I think converting to/from Scala and C strings should be encoding-dependent. Probably requiring an implicit `Charset` in scope or something?

[2016-06-07 12:38] frgomes commented on #154
Somewhere in the Clang 3.8 documentation there's an example which visits the AST and generates code for that. As far as I remember, the code was ready or almost ready to go. I will find the link for that and will post here later.

[2016-06-07 13:49] densh opened #160 "Implement between primitive number types and `java.lang.String`"
Due to incomplete `java.lang.String` support in the past we could not properly implement `toString` and `parse` methods for numeric types: `java.lang.{Byte, Short, Int, Long, Float, Double}`.

[2016-06-07 13:50] densh commented on #160
@t-hiroyoshi Would you be interested in having a look at this one? Should be quite related to your previous work on `java.lang.String`.

[2016-06-07 14:02] densh commented on #142
@fbertra Btw `Array.clone` is also stubbed at the moment. It's trivial to implement with `Array.copy`.

[2016-06-07 14:14] t-hiroyoshi commented on #160
@densh OKay, I'll do this!

[2016-06-07 15:12] densh opened #161 "Use typed API to interact with Boehm GC"
Currently we use Boehm GC in conservative mode. There is an alternative API that lets one provide additional metadata about the allocations to the collector (exposed in `gc_typed.h`). It seems to promise better performance, so we might want to experiment with feeding it compatible memory layout bitmaps.

[2016-06-07 15:13] densh commented on #141
Superseded by https://github.com/scala-native/scala-native/issues/161

[2016-06-07 15:13] #141 closed

[2016-06-08 09:31] densh commented on #142
@fbertra Feel free to post your to-do-s via github-style checklists here.

- [ ] like
- [x] this
- [ ] one

[2016-06-08 09:33] densh commented on #160
@t-hiroyoshi Cool, thanks!

[2016-06-08 11:36] densh commented on #107
@andreaTP I can't reproduce the bug with given snippets of code on the latest master. Please open a new ticket with more information if the issue still persists on your side.

[2016-06-08 11:36] #107 closed

[2016-06-08 11:57] densh commented on #99
Minimized snippet:

[code]

[2016-06-08 12:16] #149 closed

[2016-06-08 14:23] densh opened #165 "Unsigned integers must not box when passed through C varargs"
[code]

Currently it doesn't print 43 but a random (box) address.

[2016-06-08 14:52] #99 closed

[2016-06-08 14:53] densh commented on #41
#164 fixes about as much as we can improve upon for now without changing the language.

[2016-06-08 14:53] #41 closed

[2016-06-08 19:54] fbertra commented on #142
These are my high level to-do's

- [ ] Investigate array support on the JVM,
- [ ] Investigate runtime info in Scala-Native (infoof[T]),
- [ ] Define the behavior of Array.copy() for Scala-Native,
- [ ] Optional, look at Scala-JS for inspiration,
- [ ] Propose and implement solution,

[2016-06-08 20:15] sjrd commented on #142
In case you do, do not believe [the source code of `System.arraycopy`](https://github.com/scala-js/scala-js/blob/v0.6.9/javalanglib/src/main/scala/java/lang/System.scala#L51). That method is an intrinsic, which [is hijacked by the optimizer](https://github.com/scala-js/scala-js/blob/v0.6.9/tools/shared/src/main/scala/org/scalajs/core/tools/linker/frontend/optimizer/OptimizerCore.scala#L1558-L1560)

[2016-06-08 20:29] fbertra commented on #142
List of Java/Scala methods dealing with Array copy
--------------------------------------------------------------------

- java.lang.System::arraycopy (link from Apache Harmony) https://github.com/apache/harmony/blob/java6/classlib/modules/luni-kernel/src/main/java/java/lang/System.java

- object scala.Array::copy : https://github.com/scala/scala/blob/v2.11.8/src/library/scala/Array.scala

Called

[2016-06-08 20:52] fbertra commented on #142
Zoom into java.lang.System::arraycopy and scala.Array::copy
----------------------------------------------------------------------------------

Both have the same method signature

[code]

(copied from Apache Harmony, no GPL here!)

[code]

But, they behaves differently.  For example:

[code]

So, @densh and everyone interested, here comes my first question.

Should we implement both behavior and

[2016-06-08 21:00] fbertra commented on #142
Thanks @sjrd, I hope no compiler magic will be necessary for Scala-Native.  It would be way beyond my (current) skills!

[2016-06-09 08:50] frgomes commented on #154
@densh : I found in my attic a proof of concept involving this subject. It's a simple, one file C++ source which loads a list of .c/.h files (or text from stdin), traverses the AST and generates some minimalist information about what was found in the sources. There's still a lot of work to be done but, a least, the overall skeleton is done.

My question is: how C++ sources should be organized in t

[2016-06-09 08:55] sjrd commented on #154
On using clang to write code generators that read .c files: https://github.com/mozart/mozart2/tree/master/vm/generator/main
This is what we used for Mozart2 to generate a bunch of boilerplate based on some class definitions. What it does exactly is mostly irrelevant for the purpose of this thread, but the setup of how to use the clang API might be useful as inspiration.

[2016-06-09 10:50] densh commented on #154
@frgomes `tools/src/cpp/` in the main repo would work well enough for now. 👍

[2016-06-09 11:06] densh commented on #142
Our goal is to have the same semantics of operations as normal Scala on JVM. We don't really want to do things *better* as that might cause compatibility problems when cross-compiling between different platforms.

[2016-06-09 14:24] fbertra commented on #142
+1 for "having same semantics of operations as normal Scala on JVM".

My question was about how much support for Java semantics.  Implementing only the semantics of scala.Array::copy is actually worse for those who will migrate a existing Java API.  My feeling is that it isn't so much worse, because the contract of scala.Array::copy is better than the one of java.lang.System::arraycopy.

I propose

[2016-06-09 22:20] fbertra opened #167 "Superclass don't call overrided subclass methods"
The following code generates `Segmentation fault (core dumped)`

[code]

[2016-06-11 11:00] #167 closed

[2016-06-11 11:01] densh commented on #112
Fixed by https://github.com/scala-native/scala-native/pull/168

[2016-06-11 11:01] #112 closed

[2016-06-11 11:53] #111 closed

[2016-06-11 17:15] fbertra commented on #142
A Scala-IDE application to test the scala.Array::copy behavior on the JVM and see how it differs with java.lang.System::arraycopy()

https://github.com/fbertra/sj-array/blob/master/src/cl/fbd/Main.scala

The unfortunate part is when Scala behaves exactly like Java.  The testBUndercoverAsAnyToA() and testAnyToA() methods demonstrate that, when copying from a non primitive array `src` to other non p

[2016-06-11 21:04] fbertra commented on #167
Thanks!

[2016-06-12 00:48] fbertra commented on #142
Please refer to the latest version of https://github.com/fbertra/scala-native/blob/implement_array_copy/nativelib/src/main/scala/scala/scalanative/runtime/Arrays.scala to see what's possible, IMO, without change in the compiler.

object Array implements various `arracopy()` methods

- `def arraycopy [T, U >: T] (src: scala.Array[T], srcPos: Int, dest: scala.Array[U], destPos : Int, length: Int)`

[2016-06-12 10:05] densh commented on #142
@fbertra Thanks a lot for the exploration of the problem space, you've did a great job here. I've really underestimated complexity of this issue.

For now I think we should do the following simplified implementation of copy: if two array types are the same (e.g. both `IntArray`), do a memcpy, otherwise throw ArrayStoreException. This should be good enough to unblock #150 and implement clone.

Once

[2016-06-13 00:27] fbertra commented on #142
OK, I have a new branch to implement this simplified semantics for copy

https://github.com/fbertra/scala-native/blob/implement_array_clone_basic_copy/nativelib/src/main/scala/scala/scalanative/runtime/Arrays.scala

It lacks some tests, but I think it is almost done.

Note 1: I have refactored Arrays.scala to avoid code logic duplication using standard OOP.  There's still text duplication between

[2016-06-13 09:57] densh commented on #142
Let's merge this!

[2016-06-13 15:35] mstoodle commented on #128
Just a quick hopefully non offensive plug for the Eclipse OMR GC: the Eclipse OMR GC technology has been integrated underneath CRuby, CPython, SOM++ (Smalltalk VM that uses C++ objects), and the IBM J9 Java Virtual Machine: in each case, using the native object model by implementing what's called a "language glue layer". It could be just what you're looking for. And if it's not, we may be able to

[2016-06-13 17:29] densh commented on #142
@fbertra You should open a pr for that, we'll discuss the details over there.

[2016-06-13 18:03] densh opened #172 "Cache instances of java.lang.Class"
https://github.com/scala-native/scala-native/pull/171/files/e33b209d08641a892023211d5e16e37048d30d2e#r66837331

[2016-06-13 18:17] densh commented on #128
@mstoodle So far Eclipse OMR looks like the best option I've seen to date. I'm really interested in trying it out some time in the near future, once we're done with basic language & tooling support.

[2016-06-13 18:25] densh commented on #150
@fbertra Your for loop example already works in https://github.com/scala-native/scala-native/pull/171

[2016-06-13 19:20] #6 closed

[2016-06-13 19:22] densh commented on #150
Initial support for collections has just been merged. If you have any issues remaining in this area, feel free to file more specific actionable issues.

[2016-06-13 19:22] #150 closed

[2016-06-13 19:23] densh commented on #58
Unfortunately it looks like this one has to slip to the next milestone, stay tuned.

[2016-06-13 19:32] densh commented on #160
@t-hiroyoshi It looks like you're mostly done with support for integer types. Can you open pr for that part?

[2016-06-14 09:33] #102 closed

[2016-06-14 10:02] densh opened #175 "Extend travis configuration to build on Linux too"
Now that we've finally got the solution to the final linux compatibility issue we've had, we should also test on linux in our CI. This should be quite easy to contribute, given that we already have all the steps necessary to make it build in our [dockerfile](https://github.com/scala-native/scala-native/blob/master/docker/Dockerfile).

[2016-06-14 10:23] Sumith1896 commented on #175
I'm taking this :)

[2016-06-14 12:50] densh commented on #19
**Note:** this issue does not apply to 2.11, closures are already fully supported there.

[2016-06-14 13:03] siriux opened #176 "Anonymous functions not working"
I've tried this simple example on linux:

[code]

And I get this error:

[code]

I get a similar error when using foreach on a List.

[2016-06-14 13:36] densh opened #178 "@struct's must box when they escape to generic context"
Currently we're unsound here, pointers just leak to generic context and might crash if a method like `toString` is called on them (as they might not have correct RTTI necessary for a virtual call to happen). The unsoundness is caused by the fact that from scalac's point of view pointers and structs are normal reference types.

[2016-06-14 13:37] DarkDimius commented on #178
@densh, you may consider piggy-backing on value classes here, as they would be boxed if they enter generic context.

[2016-06-14 13:42] #176 closed

[2016-06-14 13:46] siriux commented on #176
Thanks, that works for me on the example provided, as well as on the foreach method of a List.

[2016-06-14 14:13] benkob opened #179 "compilation error: Classpath.scala:20: value walk is not a member of object java.nio.file.Files"
error-message:
--------------------
error] /Users/ben/local/scala_native/scala-native/tools/src/main/scala/scala/scalanative/linker/Classpath.scala:20: value walk is not a member of object java.nio.file.Files
[error] possible cause: maybe a semicolon is missing before `value walk'?

(entire log see below)

specs:
---------
sbt: sbt-0.13.11.

java -version
java version "1.7.0_25"
Java(TM) SE Runtim

[2016-06-14 14:19] densh commented on #179
Hi, @benkob. You need to run sbt under Java 8+ to compile code with Scala Native.

[2016-06-14 14:19] #179 closed

[2016-06-14 14:19] densh commented on #45
Need to mention that Java 8 is required as a build dependency (e.g. https://github.com/scala-native/scala-native/issues/179)

[2016-06-14 14:27] densh opened #180 "Optimize implementation of trait method dispatch for size"
Currently we generate huge trait method dispatch tables that are `N * M` where `N` is a number of classes and `M` is number of unique trait methods after link-time dead-code elimination. There are quite a few well-known techniques to pack those, but we need to have some benchmarks to make sure that we don't regress performance-wise.

[2016-06-14 14:37] densh commented on #180
**Workaround**: use tools like [upx](http://upx.sourceforge.net) to compress the binary. The dispatch table compresses extremely well as it's mostly filled null-s.

[2016-06-14 15:50] densh opened #182 "Incremental compilation"
Current linking tooling doesn't make any attempt at re-using results from previous runs. This really hurts compilations times.

[2016-06-14 16:34] frgomes commented on #182
Maybe my build.sbt from another proof of concept is useful for borrowing ideas.
In particular, look for ``manipulateBytecode in Compile``.
https://github.com/frgomes/poc-scala-datanucleus/blob/master/build.sbt

[2016-06-14 16:37] densh commented on #142
@fbertra Generally it seems to be quite close ready as far as I can tell.

[2016-06-14 16:55] fbertra commented on #142
@densh, this is my todo's before PR

- [ ] merge from master -> change the logic for type equality,
- [ ] test the overlap cases,
- [ ] calls the copy() method from java.lang.System::arraycopy and scala.Array::copy

[2016-06-14 17:07] #144 closed

[2016-06-15 07:00] siriux commented on #98
I tried a quick test to convert from String to CString, but when I try to getBytes from a string it gives a link error because of unimplemented java.nio classes.

Is the same type of errors you get when trying to use println. So I think it's worth it to implement the base of java.nio first. At least Buffer, ByteBuffer, CharBuffer and Charset.

[2016-06-15 09:14] siriux opened #183 "Port a subset of java.nio from ScalaJS"
There is a subset of java.nio classes that is used on code already present in SN (e.g. String class) that could be ported from ScalaJS.

The minimum required by most methods on String would be Buffer, ByteBuffer, CharBuffer and Charset and their dependencies. But probably, once that's in place, porting other java.nio classes is easy.

[2016-06-15 09:15] siriux commented on #98
I think that #183 is required before a real attempt to this issue.

[2016-06-15 11:56] siriux commented on #183
I'm going to try to get a first version of the port working.

[2016-06-15 13:46] frgomes commented on #154
Instead of implementing it in C++, a much better idea is implementing it in Scala Native. This way, the tool becomes a first class part of the ecosystem.

Work started here:
https://github.com/frgomes/scala-bindgen

[2016-06-15 15:28] densh commented on #154
@frgomes Looking forward to that!

[2016-06-15 15:37] ochrons commented on #127
Good reference for this work is the ex-RoboVM now-BugVM https://github.com/bugvm/bugvm/tree/master/objc/src/main/java/com/bugvm/objc

[2016-06-15 22:48] fbertra commented on #142
PR opened: https://github.com/scala-native/scala-native/pull/184

[2016-06-16 07:17] frgomes opened #185 "Provide binding for getopt"
At the moment, it is here:
https://github.com/frgomes/scala-bindgen/blob/master/bindgen/src/main/scala/getopt.scala

... but not tested yet.

[2016-06-16 14:46] sirinath commented on #183
I would say simply use an Apache Harmony / Android Java derivative. Most are available under Apache 2.0 License. E.g. Java side of RoboVM is ASL 2.0. Supporting one of these will be easier and you you get more bang (larger API coverage) for the effort than specifically porting any Java API.

[2016-06-19 11:27] Sumith1896 commented on #165
@densh Could you give some starting points here?

[2016-06-19 13:44] densh commented on #165
Front-end bugs are generally quite hard due to the fact that one has to know front-end compiler internals to tackle them. I'd advise to look for something easier to start with.

[2016-06-19 13:50] densh commented on #183
@siriux Are you still working on this? @Sumith1896 is also interested in having this fixed.

[2016-06-19 14:14] siriux commented on #183
@densh I have the buffers working, but on charset I was getting some weird errors.

I can create a pull request with it, but I'm not sure where to put the code from scala.scalajs.niocharset, should I put it under nativelib? Or should I put it under java.*, but that would be weird.

[2016-06-19 14:33] densh commented on #183
@siriux Feel free to open a pr, we'll discuss all the details there.

[2016-06-19 15:08] siriux commented on #183
Here is the PR #186

[2016-06-20 22:19] kmltml opened #188 "UnsupportedException when using structs with functions with type parameters"
The smallest breaking example i could get is:

[code]

It fails at compile-time with `[error] (sandbox/*:nativeLink) scala.scalanative.util.package$UnsupportedException: Inst(Local(src,7),As(Struct(Top(Foo),Vector(I(32))),Local(Local(src,6),Class(Top(java.lang.Object))))) (class scala.scalanative.nir.Inst)`

[2016-06-21 07:02] densh commented on #188
Thanks for the bug report!

[2016-06-21 09:26] mdedetrich opened #189 "Implement Java Memory Model (JSR-133)?"
Java in version 5 released JSR-133, which created a unified memory model amongst many platforms. This was mainly to provide a solution to the undefined behaviour that plagued both C and C++ when it comes to shared memory.

Personally I believe it would be helpful if Scala Native could provide the same semantics. It would mean that porting any concurrent Scala/Java code (which a huge amount of the

[2016-06-21 15:45] densh commented on #89
Btw, there are a some reasonably detailed but a bit outdated docs on NIR in this topic/internals-guide branch. https://github.com/scala-native/scala-native/blob/topic/internals-guide/docs/nir.md

[2016-06-21 16:50] frgomes opened #190 "String#stripMargin fails"
https://github.com/frgomes/scala-native-testsuite/blob/master/testsuite/0190/src/main/scala/issue0190.scala
[code]

[2016-06-21 18:25] frgomes commented on #190
Related to #140

[2016-06-21 18:31] frgomes opened #191 "String interpolation fails"
https://github.com/frgomes/scala-native-testsuite/blob/master/testsuite/0191/src/main/scala/issue0191.scala
[code]

[2016-06-21 18:31] frgomes commented on #191
Related to #140, #151

[2016-06-21 20:04] Yoitsumi opened #192 "String.charAt counts from third char"
[code]
prints '2' instead of expected '0'

[2016-06-22 08:31] frgomes opened #193 "System.exit() fails linkage"
https://github.com/frgomes/scala-native-testsuite/blob/master/testsuite/0193/src/main/scala/issue0193.scala
[code]
[code]

[2016-06-22 11:24] densh commented on #192
Thanks for the bug report!

[2016-06-22 11:26] densh commented on #185
This one is out of scope for the core SN project. It should be a stand-alone library with bindings for the library.

[2016-06-22 11:26] #185 closed

[2016-06-22 12:13] densh opened #194 "Add support for framework linking"
Currently we only support static and dynamic linking for `@link` annotation. We need to add support for linking with frameworks on macOS.

[2016-06-22 12:20] densh commented on #189
This issue is a bit broader than JMM, our main goal here is to find the memory model that would work best and will be compatible with Scala code running on JVM.

[2016-06-22 12:22] densh commented on #101
Related: https://github.com/scala-native/scala-native/issues/189

[2016-06-22 12:22] densh commented on #189
Related: https://github.com/scala-native/scala-native/issues/101

[2016-06-23 09:01] #36 closed

[2016-06-23 09:42] Yoitsumi opened #195 "ABI of extern functions receiving structs as params differs from clang's"
[code]
[code]
this results in "consuming foo: 1 0 2" printed, instead of expected 1 2 3

[2016-06-23 09:44] densh commented on #195
Related: http://stackoverflow.com/questions/22776391/why-does-clang-coerce-struct-parameters-to-ints

[2016-06-23 10:20] Yoitsumi commented on #195
https://github.com/llvm-mirror/clang/blob/master/lib/CodeGen/CGRecordLayoutBuilder.cpp#L242
This looks like the code in clang resposible for struct type lowering

[2016-06-24 02:30] sirinath commented on #183
Might be of interest: https://github.com/piotrmocz/scalajs-java

[2016-06-24 12:53] sirinath commented on #128
Also the [following proposal](https://github.com/scalacenter/advisoryboard/blob/master/proposals/001-native-scala-for-spark.md) also seeks non GC based approach for memory management. (`(3) provide a platform to explore non-GC based approaches to memory management`). So perhaps non GC approaches also should be fully explored where GC overhead is not acceptable.

[2016-06-24 13:32] sirinath commented on #101
Also just pointer [OMR](https://github.com/eclipse/omr) has a threading components.

[2016-06-24 14:28] sirinath commented on #189
A good write up on JMM: [Close Encounters of The Java Memory Model Kind](http://shipilev.net/blog/2016/close-encounters-of-jmm-kind/) by [Aleksey Shipilëv](http://shipilev.net/)

[2016-06-26 09:10] sirinath commented on #128
Proposed non GC enhancements in D: https://wiki.dlang.org/DIP69, http://forum.dlang.org/post/etjuormplgfbomwdrurp@forum.dlang.org

[2016-06-26 10:03] densh commented on #128
I think D is a poor example to take hints from in terms of memory management. The author of the language describes the situation as (emphasis on the last sentence is mine) :

https://www.quora.com/Which-language-has-the-brightest-future-in-replacement-of-C-between-D-Go-and-Rust-And-Why/answer/Andrei-Alexandrescu

Scala is GC-ed language first and foremost. All of the existing libraries assume GC.

[2016-06-26 11:04] sirinath commented on #128
How does [SCP-001](https://github.com/scalacenter/advisoryboard/blob/master/proposals/001-native-scala-for-spark.md) supported as it is directly related SN?

[2016-06-26 15:15] #192 closed

[2016-06-26 17:18] frgomes commented on #91
Have a look at http://github.com/scala-native/scala-native-example

[2016-06-26 17:20] frgomes opened #201 "Scala Native is not passing command line arguments to application code."
https://github.com/frgomes/scala-native-testsuite/blob/master/testsuite/0201/src/main/scala/issue0201.scala
[code]

[2016-06-26 17:43] frgomes opened #202 "Failure to increment extern variable"
https://github.com/frgomes/scala-native-testsuite/blob/master/testsuite/0202/src/main/scala/issue0202.scala

[code]

[code]

[2016-06-26 18:25] densh commented on #201
Duplicate of https://github.com/scala-native/scala-native/issues/130

[2016-06-26 18:25] #201 closed

[2016-06-26 18:33] densh opened #204 "Add support for comparing native.Ptr[T] with null"
Both  `ptr == null` and  `ptr != null` should work. Currently they crash at front-end.

[2016-06-26 18:35] densh opened #205 "Better interop with C enums"

[2016-06-26 18:38] Yoitsumi commented on #205
One approach is to use something similar to scala.Enumeration:
[code]
It would be used like this:
[code]

[2016-06-26 19:47] Sciss opened #206 "Support sbt `mainClass` setting"
SN currently fails when there are several objects that define `def main(args: Array[String]): Unit`. Normally, one can use the sbt settings-key `mainClass: Option[String]` to avoid shell prompt upon `sbt run` for choosing one of the detected main classes. This key should be supported by SN.

[2016-06-26 20:36] Sciss opened #207 "java.util.NoSuchElementException: key not found: Local(src,0)"
The following test-case produces this exception when running (`sbt clean run`): https://github.com/Sciss/scala-native-test/tree/scala-native-issue-207

Stack trace:

[code]

[2016-06-26 20:39] densh commented on #202
Thanks for the report!

[2016-06-26 20:39] densh commented on #207
That's a new one, a use-def analysis fails to account for something. Thanks for the report!

[2016-06-26 20:42] Sciss opened #208 "Error:scalac: Error: native.this.FunctionPtr.fromFunction1 (conversion from function/method)"
Conversion from scala-functions or methods (via eta-expansion) to `FunctionPtrN` seems to be broken. A pattern match error in the compiler is produced. The stack trace below is from compiling this project: https://github.com/Sciss/scala-native-test/tree/scala-native-issue-208

The lines in question are:

[code]

And the call that causes the crash:

[code]

[code]

[2016-06-27 11:47] densh opened #209 "Extend Array.copy to support exact JVM semantics"
As discussed in https://github.com/scala-native/scala-native/issues/142 we currently don't support some corner cases around exact JVM copy semantics. i.e. we don't do all the checks around covariance in object arrays. This should be a non-issue for typical Scala code given that arrays are invariant in Scala and the semantics of casts in presence of generics is implementation-defined.

This is curr

[2016-06-27 11:48] densh commented on #142
As far basic functionality is concerned this is done. Thanks @fbertra!

[2016-06-27 11:48] #142 closed

[2016-06-28 00:01] scalasolist opened #211 "Feature enquiry: JNI interoperability"
It is not a complete feature request. I'm just curious about plans for the scala-native and could not find more suitable way to ask.

Have you considered to add support for JNI? In this way part of project may be written in scala and performed with JVM and has full access to java libraries, and some parts of the code are manually optimized to run as JNI on LLVM platform. Such feature would require

[2016-06-28 00:25] frgomes commented on #211
I suggest you join us at gitter.
https://gitter.im/scala-native/scala-native

[2016-06-28 09:12] densh commented on #211
This is out of scope for the Scala Native project. We already provide an interop layer (extern objects) to communicate over C ABI that is far easier to use than JNI, you can use that to interoperate with JVM if you want to.

[2016-06-28 09:12] #211 closed

[2016-06-28 15:13] densh opened #213 "Reflective instantiation of arrays"
Currently nio charsets fail due to missing support for `java.lang.reflect.Array::newInstance`.

Minimal test case:

[code]

[2016-06-28 15:16] densh commented on #183
Fixed in #186

[2016-06-28 15:16] #183 closed

[2016-06-28 15:17] densh commented on #98
NIO charsets are already merged, but we're still blocked by https://github.com/scala-native/scala-native/issues/213

[2016-06-29 08:39] Yoitsumi commented on #35
Maybe, as a workaround until we get singleton types, we could use an annotation for that? Something like:
[code]

[2016-06-29 13:25] Milyardo commented on #207
I have a project that enounters the the same problem [here](https://github.com/Milyardo/sglgears/blob/master/src/main/scala/com/milyardo/sglgears/Main.scala), I suspect use-def is failing to account for function pointers.

[2016-06-29 13:31] densh commented on #207
@Milyardo Scala Native + OpenGL, looks exciting. 👍

[2016-06-29 14:29] densh commented on #207
I was able to reproduce the bug with:

[code]

[2016-06-29 14:55] Yoitsumi commented on #207
@densh this code closes over foo, which, if i understand correctly, are not supposed to work at the moment

[2016-06-29 18:19] frgomes opened #215 "Failure to receive value from extern function and pass along to another function"
Scenario:
- an `extern` function is called, which return a `Ptr[_]`
- the received value is then passed along to another `extern` function.

Symptom:
- The second function called fails, since it receives `null`, instead of receiving the returned value given by the previous `extern` function call;
- if we add a "debug" function which prints the returned value from the first `extern` function call,

[2016-06-29 21:01] fbertra commented on #98
Hi,

I'm almost sure that issue https://github.com/scala-native/scala-native/issues/213 (Reflective instantiation of arrays) isn't blocking this issue.

The problem occurs because object `niocharset.UTF_8` extends `java.nio.charset.Charset ` and pass an Array for parameter `aliases: Array[String]` in `CharSet `contructor.

[code]

Somehow, the array `aliases` is transform by an implicit to an `col

[2016-06-29 21:07] sjrd commented on #98
Unfortunately, that would not be binary compatible with the JDK API.

[2016-06-29 21:27] fbertra commented on #98
I tried to remove the parameter `aliases `entirely and everything compiles and runs just fine.  So nobody uses it, atm.

But it's true that someone could create a new charset and could miss this parameter.

[2016-06-30 15:30] #207 closed

[2016-06-30 16:06] densh commented on #215
The bug looks bizarre, really interested in figuring out what went wrong there.

[2016-07-02 20:47] frgomes commented on #115
I vote for ``@stack`` annotation, which is clear and explicit. The compilation should fail in case the compiler determines that such intent expressed by the developer cannot be satisfied.

[2016-07-05 10:31] andreaTP opened #226 "Division by zero in array manipulation"
lldb says:
[code]
when running:
https://github.com/andreaTP/kmeans-scala-native/tree/scalalike

[2016-07-05 14:22] aslesarenko commented on #159
In [Scalan](https://github.com/scalan/scalan) we use the following classes `java.lang.reflect`. Would be nice to have them supported.
[code]

[2016-07-06 14:58] densh commented on #58
Related: https://github.com/scala-native/scala-native/pull/227#discussion_r69737329

[2016-07-07 08:33] #175 closed

[2016-07-07 14:57] densh commented on #226
Thanks for the report!

[2016-07-08 03:40] sirinath commented on #128
[Go’s march to low-latency GC](https://blog.twitch.tv/gos-march-to-low-latency-gc-a6fa96f06eb7)

[2016-07-08 04:01] sirinath commented on #128
https://github.com/eriksvedang/Carp

[2016-07-08 09:19] densh opened #233 "Scala 2.12 support"
2.12 is near the end of the development cycle. We need to extend our nscplugin to support it.

[2016-07-08 17:56] #213 closed

[2016-07-08 17:57] densh commented on #98
#213 has just been fixed unblocking this issue.

[2016-07-08 18:03] densh commented on #191
This one is currently failing due to missing implementation of `java.lang.Character::codePointAt`.

[2016-07-08 20:39] sjrd commented on #191
I assume you mean `String.codePointAt`? Here is an implem: https://github.com/scala-js/scala-js/blob/v0.6.10/library/src/main/scala/scala/scalajs/runtime/RuntimeString.scala#L47

[2016-07-09 09:27] densh commented on #191
@sjrd That's an Apache Harmony thing. The implementation in `j.l.String` use helper in `j.l.Character`.

[2016-07-10 18:17] Duhemm commented on #28
@andreaTP @densh What's the status with this issue? In the meantime, could sbt scripted-tests be enough ? See https://github.com/scala-native/scala-native/compare/master...Duhemm:add-scripted-tests

[2016-07-11 09:50] densh commented on #28
@Duhemm I didn't know about scripted tests. That would be a great starting point for now! We'll still need partest to run existing tests from scalac, but that will come later.

[2016-07-11 09:51] #206 closed

[2016-07-11 19:08] Duhemm commented on #157
I tried to take a stab at this issue yesterday, but unfortunately didn't manage to solve it. My idea was to keep the current logic when there's no finalizer and to rewrite

[code]
to
[code]

But I can't type this tree. Using `typer.typed(_)` produces `scala.reflect.internal.Types$TypeError: not found: type Throwable` when I try to compile

[code]

Did you have another solution in mind? Or do you k

[2016-07-11 19:12] sirinath commented on #128
http://gchandbook.org/

[2016-07-12 07:27] Duhemm commented on #157
Actually I just noticed my encoding is wrong. If the `normal` branch terminates normally but the `finalizer` throws an exception then the `finalizer` will be executed again.

[2016-07-12 09:04] densh commented on #128
@sirinath Can you please put all of your links into a single comment as a list of items?

[2016-07-12 22:06] densh commented on #157
It's probably easier to not perform tree rewriting but just tweak the way how NIR is generated during tree to SSA conversion in `nscplugin`. The general idea is to invoke some form of `genExpr(finallyp, _)` around both normal and error branches in `genTry` implementation.

Here is implementation of [`genFinally`](https://github.com/scala-native/scala-native/blob/7e06b9edb43718ec1b9e514e841698a1dd0

[2016-07-13 13:20] densh commented on #160
First half of the work has been merged in https://github.com/scala-native/scala-native/pull/238. We're only missing floating point types now.

[2016-07-13 13:23] densh opened #242 "Conversions between unsigned integers and strings"
Those are not present in Harmony and need to be implemented from scratch.

- [ ] java.lang.Integer::toUnsignedString
- [ ] java.lang.Long::toUnsignedString
- [ ] java.lang.Integer::parseUnsignedInt
- [ ] java.lang.Long::parseUnsignedLong

[2016-07-13 13:55] densh commented on #160
I've refactored out unsigned string conversion into separate issue https://github.com/scala-native/scala-native/issues/242 as those are not as critical as this one.

[2016-07-13 23:04] fbertra commented on #226
@andreaTP   I think you have a division by zero in Main.scala at line 66 (the `var iterations` is previously decreased until reaching zero):

  `(((!after).tv_usec - (!before).tv_usec) / 1000)) / iterations`

It may be the cause of the `idivq` error.

[2016-07-14 14:20] densh commented on #165
Indeed, this one was quite difficult to fix. https://github.com/scala-native/scala-native/pull/243

[2016-07-14 20:53] #165 closed

[2016-07-15 12:19] densh opened #245 "Implement java.util.Formatter"
Can be ported from Harmony.

[2016-07-15 12:19] densh opened #246 "Implement java.util.Random"
Can be ported from Harmony.

[2016-07-15 12:21] densh opened #247 "Implement java.util.Locale"

[2016-07-15 12:28] densh commented on #247
Blocked by: #58

[2016-07-15 12:28] andreaTP commented on #247
as described here:
https://github.com/scala-js/scala-js/issues/1773

[2016-07-15 12:30] densh commented on #246
Or from scala.js https://github.com/scala-js/scala-js/blob/master/javalib/src/main/scala/java/util/Random.scala

[2016-07-15 12:40] sjrd commented on #246
Note that, if taking it from Scala.js, note that [the current version](https://github.com/scala-js/scala-js/blob/master/javalib/src/main/scala/java/util/Random.scala) was hand-optimized to avoid `Long`s at all cost. For SN, you should take [the older version from 0.6.0](https://github.com/scala-js/scala-js/blob/v0.6.0/javalib/src/main/scala/java/util/Random.scala).

[2016-07-15 12:43] #191 closed

[2016-07-15 13:12] densh commented on #215
Can you please provide self-contained example for this?

[2016-07-15 13:19] frgomes commented on #215
I will do. Thanks.

[2016-07-15 13:32] densh commented on #204
Fixed in https://github.com/scala-native/scala-native/pull/248 by @gurinderu

[2016-07-15 13:32] #204 closed

[2016-07-15 13:58] andreaTP commented on #246
I'm on this one:
https://github.com/andreaTP/scala-native/tree/jurandom

[2016-07-15 17:56] joh-m opened #251 "Update build docs"
When trying to build i get the following error

[code]

[2016-07-15 18:24] soc commented on #246
I'd be careful with `Random`. If I remember correctly the implementation in OpenJDK seems to be a LCG with a very poor randomness and periodicity. http://www.javamex.com/tutorials/random_numbers/lcg_planes.shtml

If usual algorithm quality is assumed, Harmony will be many times worse.
I'd suggest skipping over stuff like this (and also Mersenne Twisters), and have a look at xoroshiro by Marsaglia

[2016-07-15 18:32] soc commented on #245
Probably coordinate with @cquiroz, as he is working on a lot of related stuff.

[2016-07-15 19:51] sjrd commented on #246
@soc The "algorithm" for `java.util.Random` is [completely specified](https://docs.oracle.com/javase/8/docs/api/java/util/Random.html#next-int-). There is no room for "improvement" or "lower quality". It just have to be exactly correct.

If you want better quality PRNG, just don't use `java.util.Random`. Use something else.

[2016-07-15 20:17] andreaTP commented on #226
@fbertra thanks!!! argh... yep, this was the problem thanks a lot!

anyhow we have something that doesn't work with ```groupBy```

[2016-07-15 21:54] andreaTP commented on #251
Unfortunately build instructions aren't updated,
you have to ```publishLocal``` just ```nscplugin```.

the correct sbt incatation is now:
[code]

taken from https://github.com/scala-native/scala-native/blob/master/.travis.yml#L57

[2016-07-17 16:13] soc commented on #246
@sjrd Oh god. Didn't realize they really did that. Looks like at least `java.security.SecureRandom` is unaffected though.

[2016-07-17 18:35] fbertra opened #252 "various try-catch problems"
Assuming

[code]

The followings test-cases fail:

[code]

[code]

[code]

[2016-07-17 18:54] fbertra opened #253 "Implement java.lang.Class::getComponentType"
The following snippet executes successfully

[code]

The following throws an exception:

[code]

[2016-07-17 20:57] densh commented on #252
Thanks for the bug report!

[2016-07-17 21:06] densh commented on #246
Fixed in #250

[2016-07-17 21:06] #246 closed

[2016-07-18 16:44] fbertra commented on #98
I volunteer to finish this issue if no one is currently working on it.

[2016-07-18 16:59] ritschwumm commented on #98
please use an explicit charset, and only an explicit charset for conversion.
i've seen way too many errors in java where people left out the charset
with InputstreamReader, new String(..) and friends where they should
have not.

[2016-07-20 00:17] fbertra commented on #98
@ritschwumm the methods signatures are, atm:

[code]

But, there is no `implicit val cs: Charset = ...` defined anywhere in the library.  So, it will be the caller responsability to define the Charset he needs.  So, there is no default Charset like in JVM land.

Is it OK?

[2016-07-20 18:28] ritschwumm commented on #98
@fbertra dangerous, imho. you move a method using this to another class, and suddenly it behaves completely different because a different implicit charset is in scope. you'll never know before it's too late.

[2016-07-22 22:44] sjrd opened #256 "Select-less version of {Integer,Long}.highestOneBit"
I found a branchless and select-less version of `{Integer,Long}.highestOneBit`:
This is the current version for `Integer`:
[code]
and it can be instead:
[code]
with the same code for `Long`.

See https://github.com/scala-js/scala-js/pull/2546/files#diff-d559f7f168fcc181b40dc5c47cb7aa8b

[2016-07-26 13:19] densh commented on #253
Caused by missing implementation of `java.lang.Class::getComponentType`.
[code]

[2016-07-26 13:36] #193 closed

[2016-08-02 14:41] fbertra commented on #130
I volunteer for this issue.

I'm investigating how to choose the correct Java Charset from the POSIX locale.  The rest should be easy.

[2016-08-03 08:38] densh commented on #130
@fbertra Locales are a large chunk of work (https://github.com/scala-native/scala-native/issues/247). I'd suggest just to use UTF-8 as an unconditional default for now.

[2016-08-03 14:00] densh commented on #98
Fixed in https://github.com/scala-native/scala-native/pull/254

[2016-08-03 14:04] #98 closed

[2016-08-03 15:28] densh commented on #256
Thanks @sjrd, we should try totally try this out.

[2016-08-04 00:35] fbertra opened #260 "Inconsistency between .equals() and =="
The following code

[code]
prints
[code]

and should print

[code]

[2016-08-04 05:43] liuchong commented on #251
🌚 so, this issue shows the ci is helpful...

[2016-08-04 08:58] densh opened #261 "Default argument promotion"
Currently we don't perform default argument promotion for C-style varargs. This is incorrect wrt to how c variadic functions are compiled to LLVM.

[2016-08-04 14:32] densh commented on #28
This got less critical with https://github.com/scala-native/scala-native/pull/263.

[2016-08-05 02:45] fbertra commented on #190
A LLDB snippet.

[code]

Running

[code]

[2016-08-05 08:10] densh commented on #130
Fixed in #259

[2016-08-05 08:10] #130 closed

[2016-08-05 08:12] densh commented on #256
Fixed in #264

[2016-08-05 08:12] #256 closed

[2016-08-05 20:31] frgomes opened #266 "Expose argv[0] since it is missing in the entrypoint: def main(args: Array[String])"
## Context

C programmers (and even bash programmers) are used to do tricks with command line arguments. A very common trick is testing `argv[0]` (this is C!) in order to assume certain defaults. For example, `grep`, `egrep` and `fgrep` are all the same executable really, which behaves differently depending on how it is invoked.

**The entry point of a C application is:**

[code]

So, when you inv

[2016-08-05 20:49] frgomes commented on #266
At this point, ``scala-bindgen`` simply fakes ``argv(0)`` like shown below:

[code]

[2016-08-06 01:19] fbertra commented on #190
arraycopy is throwing an exception when the "from" array is empty.and the number of elements to copy is equals to 0.  It should be a noop instead.

I can fix this.

[2016-08-06 11:31] densh commented on #190
@fbertra go for it!

[2016-08-06 11:32] #251 closed

[2016-08-07 14:20] fbertra commented on #266
I vote for a dual entry point.  The programmer choose which one in `build.sbt`:

JVM style, the default:

`def main(args: Array[String]): Unit`

C style, if some configuration is set in `build.sbt`

`def main(argc: Int, argv: Ptr[CString]): Int`

As a side effect, this solution supports better the case where the application uses the Scala syntax but calls only C functions as it doesn't introduce u

[2016-08-08 15:29] densh commented on #266
We should probably do something along the lines of `JSApp` from Scala.js to expose an alternative C-style entry point.

[2016-08-08 16:45] frgomes commented on #266
I volunteer for implementing this. Thanks.

[2016-08-08 16:49] ShaneDelmore opened #269 "Error when executing sbt sandbox/run"
I get an error when trying to run any scala-native application: scala.reflect.internal.MissingRequirementError: object java.lang.Object in compiler mirror not found.

My environment:
OSX 10.11.16
clang version 4.0.0 (http://llvm.org/git/clang.git 4cfe28cfc5970e097bc623d50112acda413bca0a) (http://llvm.org/git/llvm.git 784afcbf370b403c7a570e8e785975bd06c4a281)

Installation steps taken:
brew install

[2016-08-09 06:47] densh commented on #37
Webassembly got SIMD support too. https://github.com/stoklund/portable-simd/blob/master/portable-simd.md

[2016-08-18 12:05] andreaTP opened #270 "String interpolator"
Just noticed that the Scala string interpolator doesn't work in Scala Native.

[2016-08-19 10:42] densh commented on #270
Please provide a concrete example of a piece of code that doesn't work. This is important to make sure that the ticket is actionable.

[2016-08-19 11:13] andreaTP commented on #270
Sure!
here you are:
[code]

this exit with:
```java.lang.RuntimeException: Nonzero exit code: 134```

and lldb says:
[code]

[2016-08-19 11:17] densh commented on #270
Great, thanks!

[2016-08-19 12:21] andreaTP opened #271 "toString method"
This is a small repro:

[code]

lldb says:
[code]

[2016-08-19 12:22] densh commented on #271
This has been fixed in https://github.com/scala-native/scala-native/pull/263 but that pr needs a bit more work before we merge it.

[2016-08-19 14:28] fbertra commented on #270
The root cause of the exception is the same as in issue #https://github.com/scala-native/scala-native/issues/190 and is solved by PR #https://github.com/scala-native/scala-native/pull/268.

But, there is another issue.  The interpolation is truncating the last character.

[code]

prints

[code]
and should print

[code]

[2016-08-19 15:43] fbertra commented on #270
The truncation error, reported in previous comment, occurs in java.lang.Integer::toString

[code]

prints

[code]

instead of

[code]

[2016-08-24 11:53] andreaTP opened #273 "various unexpected results"
Not sure what will be the title I mention here some unexpected behaviors I got:

1 -> Side Effect Erasing
[code]
prints out the sentence.

2 -> Parsing error
[code]
fails compilation with:
[code]
terminates erroneusly and lldb says:
[code]
refactoring like this work instead:
[code]

4 -> Trying to print an Exception fail
[code]

[2016-08-24 11:57] andreaTP commented on #242
blocked by #190 and related, hope that @fbertra PR solves all the issues here...

[2016-08-24 17:31] fbertra commented on #242
@andreaTP  I think you meant your last comment for issue "String interpolator #270".  PR #268 and issue  #190 are unrelated (yet) to this issue.

[2016-08-27 22:25] fbertra opened #275 "Array[Int].map() use internally an ArrayBuilder.ofByte instead of an ArrayBuilder.ofInt"
The following code

[code]

prints

[code]

Note: 16843009 = 1 + 256 + 65536 + 16777216

[2016-08-28 00:48] fbertra commented on #275
When executing the previous code with lldb, and setting breakpoints in ArrayBuilder.ofInt and ArrayBuilder.ofByte methods....

[code]

...the process stops inside an ArrayBuilder.ofByte method

[code]

[2016-08-28 00:50] fbertra commented on #275
Finally, As ArrayBuilder return an array of byte and it is treated as a array of Unt at caller site, Buffer Overflows can occurs.

[2016-08-31 19:28] marlomajor commented on #245
I can work on this. Can you describe the problem to me? I'm new to Scala so please be as specific as possible.

[2016-09-02 16:26] MasseGuillaume commented on #245
Hi @marlomajor I'm new to scala-native but I have some experience in Scala. Ping me if you need help.

[2016-09-02 20:44] MasseGuillaume commented on #245
@densh I need a test framework for this task, I'm starting from https://github.com/scala-native/scala-native/pull/263

@marlomajor If you want to join me in this PR I would be really happy to do some pair programming.

[2016-09-02 20:47] MasseGuillaume commented on #245
scala-js implementation: https://github.com/scala-js/scala-js/blob/master/javalib/src/main/scala/java/util/Formatter.scala#L1

[2016-09-03 07:58] densh opened #280 "Add support for ThinLTO"
Currently we emit one huge blob of code to LLVM. This has previously been the same thing to what clang did to enable regular link-time optimisations. This has changed in 3.9 where something called [ThinLTO](http://blog.llvm.org/2016/06/thinlto-scalable-and-incremental-lto.html) was introduced. It combines best of both worlds, we should be able to emit code in similar fashion.

Related: #182

[2016-09-03 07:58] densh commented on #182
Related: #280

[2016-09-05 07:02] densh opened #282 "Standard lib readiness"
We need to have a docs page that lists all of the available library APIs and their current status.

As suggested by @rom1dep on our gitter channel.

[2016-09-05 09:26] frgomes commented on #282
I suggest a project in github, on the lines of awesome-scala or awesome-rust, etc.

On Mon, Sep 05, 2016 at 8:02 AM, Denys Shabalin < notifications@github.com [notifications@github.com] > wrote:
We need to have a docs page that lists all of the available library APIs and their current status.

As suggested by @rom1dep [https://github.com/rom1dep] on our gitter channel.

—
You are receiving this be

[2016-09-05 09:31] densh commented on #282
This one is more along the lines of what classes in JDK we currently support, this should be included in the docs. Awesome lists are usually about third-party libraries.

[2016-09-06 11:46] #252 closed

[2016-09-06 15:12] marlomajor commented on #245
Hey I just saw this comment I apologize. Yes, I would like to work on this with you.

[2016-09-06 15:13] marlomajor commented on #245
I would like to pair program on this if the chance is still available

[2016-09-06 20:38] marlomajor commented on #245
How similar to scala.js will the java.util.Formatter be for scala-native?

[2016-09-06 21:12] sjrd commented on #245
Very similar. The main difference is that Scala.js uses `js.RegExp` to "parse" the format string, which SN will have to do in a different way, obviously. But everything else should be copy-paste.

[2016-09-06 23:24] marlomajor commented on #245
Okay. What is the high-level goal behind this implementation?

[2016-09-07 02:43] marlomajor commented on #245
Will submit pr soon.

[2016-09-07 02:47] marlomajor commented on #245
Is there a test suite I can follow?

[2016-09-07 05:02] sjrd commented on #245
https://github.com/scala-js/scala-js/blob/master/test-suite/shared/src/test/scala/org/scalajs/testsuite/javalib/util/FormatterTest.scala

[2016-09-07 08:27] densh commented on #245
Indeed, missing support for regular expressions is the main hindrance to fixing this.

[2016-09-07 08:33] densh opened #283 "null.{isInstanceOf, asInstanceOf} semantics differs"
Currently all operations on `null`s are undefined behaviour. This is not consistent with `isInstanceOf` and `asInstanceOf` having a defined non-throwing semantics on null values on the JVM.

[2016-09-07 08:35] sjrd commented on #245
I don't think regex support is necessary to implement `Formatter`. It is perfectly reasonable to write a parser for `%` formats by hand. In fact, it is probably a good idea to do so even if regex are supported for 1) performance and 2) not bringing the regex engine into every app that uses `f""`

[2016-09-08 17:17] bbarker opened #284 "Feature proposal: TCO for mutually recursive functions"
Apparently Scala-JVM does not support mutual TCO due to the JVM not supporting robust enough GOTO mechanics (clearly I'm not an expert on this). It would be good if `@tailrec`, or some variation thereof, supported mutually recursive functions in scala-native.

[2016-09-09 09:34] densh commented on #284
Hi @bbarker, this is on our roadmap. As soon as https://github.com/scala-native/scala-native/issues/122 is fixed, LLVM will be able to detect and optimise tail calls in Scala Native emitted code.

[2016-09-09 12:29] phdoerfler opened #285 "Add test case for linking Scala code as native library"
I suggest a simple test case for (https://github.com/scala-native/scala-native/issues/155) in which a simple native dynamic library is created with scala native and used by another scala native program.
This of course assumes that the current test framework allows for introducing such a compile time dependency since the library would have to be compiled before the actual test code.

[2016-09-10 15:27] MasseGuillaume commented on #245
@marlomajor I'm on the East Coast what about next week end? Are you available?

[2016-09-11 02:09] MasseGuillaume commented on #271
@densh look like this one is done.

[2016-09-11 03:08] MasseGuillaume commented on #245
@densh what's the context for this issue. Why you need java.util.Formatter in particular ?

[2016-09-11 03:32] MasseGuillaume commented on #245
I started a branch here: https://github.com/MasseGuillaume/scala-native/commit/6b6bd1247c869cbef38de2ad2439108de6963048

@densh It's a bit slow to to execute `sbt run` ~40 sec is this normal ?

[2016-09-11 09:17] densh commented on #245
Linking is quite slow at the moment, I'm working on making it faster in https://github.com/scala-native/scala-native/tree/topic/fat-code-gen.

[2016-09-11 09:19] densh commented on #271
Indeed, this one is fixed now.

[2016-09-11 09:19] #271 closed

[2016-09-11 20:24] MasseGuillaume commented on #247
blocking #245

[2016-09-11 21:01] densh commented on #247
@MasseGuillaume Are you sure? Scala.js doesn't have support for locales yet but there is reasonable implementation of Formatter in place.

[2016-09-11 21:17] MasseGuillaume commented on #247
@densh see constructors: https://docs.oracle.com/javase/8/docs/api/java/util/Formatter.html#constructor.summary

[2016-09-11 21:17] MasseGuillaume commented on #247
@densh it depends on how far we should go with the implementation. That's why I asked: https://github.com/scala-native/scala-native/issues/245#issuecomment-246159011

[2016-09-11 21:22] densh commented on #245
@MasseGuillaume We need `java.util.Formatter` to support http://docs.scala-lang.org/overviews/core/string-interpolation.html and friends.

[2016-09-11 21:26] MasseGuillaume commented on #245
@densh why not using `fprintf`?

[2016-09-11 21:29] sjrd commented on #245
In Scala.js, we "cheated" a bit for `Formatter`. We assumed en-US in the implementation of `Formatter`. It was at a time when we did not have such strong requirements for implementations of the JDK. Nowadays, the golden rule is: if it links, it must honor its specification. We can still sort of argue that `Formatter` honors its specification based on the fact that setting the default locale does n

[2016-09-11 23:17] MasseGuillaume opened #287 "Port of java lang throwables from Scala.js got outdated"
I'm currently diffing javalib to create https://github.com/MasseGuillaume/multi-platforms-javalibs. I found some notable difference(s)
- [Throwables](https://github.com/scala-native/scala-native/blob/master/javalib/src/main/scala/java/io/Throwables.scala#L4) vs [Throwables](https://github.com/scala-js/scala-js/blob/master/javalib/src/main/scala/java/io/Throwables.scala#L4)

[2016-09-12 05:40] sjrd commented on #287
See https://github.com/scala-js/scala-js/pull/2560

[2016-09-12 21:15] soc commented on #247
@densh There is an implementation of java.util.Locale and formatting-related stuff for Scala.js already. Probably needs some thought how to integrate scala-native in terms of using the host system's available data sources instead of shipping the locale data as code.

[2016-09-14 03:07] MasseGuillaume commented on #245
@sjrd
What would be the specification?

* [Oracle's JDK documentation](https://docs.oracle.com/javase/8/docs/api/java/util/Formatter.html) (Clean room)
* [The JCK/TCK](http://openjdk.java.net/groups/conformance/JckAccess/) (GPL License)
* Something else ?

@densh
I suggest we scope this ticket to the [The f Interpolator](
http://docs.scala-lang.org/overviews/core/string-interpolation.html#the-f-in

[2016-09-14 05:53] sjrd commented on #245
It is off course the JavaDoc (clean room). In addition, when the JavaDoc is imprecise or downright incorrect, we reverse-engineer a more precise specification by experimenting with the observable behavior of the JVM JDK (typically through the Scala REPL).

We turn all that into a test suite of our own, which we cross-compile for JVM and JS. The JS version tests or implementation. The JVM version t

[2016-09-15 07:21] mkotsbak opened #289 "External libs version compatibility specification"
It seems that there is currently not possible when you define the version wrapper for an external library like this:

[code]

A workaround like @link("telldus-core.2") or @link("telldus-core.so.2") also does not work.

I suggest that the wrappers should be able to specify which versions they are compatible with, and which they might not be complete for. Newer major versions on the system should gi

[2016-09-15 17:06] MasseGuillaume commented on #289
We could also add arbitrary metadata (`Map[String, String]`), since in some cases a version and an artifact name is not enough.

For example [nix](https://nixos.org/nix/about.html) track all inputs + build step to produce a unique artifact.

[2016-09-15 19:42] mkotsbak opened #292 "Add support for Thread.sleep()"
Even before a full threading support is added (#101), it should be easy to add support for Thread.sleep() by using e.g. this: http://linux.die.net/man/3/usleep

This works as a workaround:

[code]

Not sure if this is the proper way to solve it generally.

[2016-09-16 20:32] cornerman opened #294 "toString on case class throws exception"
Using toString of case class:
[code]

leads to:
[code]

[2016-09-20 11:18] densh commented on #245
@MasseGuillaume Scoping this issue to `f interpolator` is a good idea. That's the main use case at the moment.

[2016-09-20 11:49] MasseGuillaume commented on #245
@densh cool. I need to focus on Scastie / moving to Lausanne. I will be back on this issue soon ;-)

[2016-09-20 16:01] mkotsbak commented on #180
Does this improve in Scala 2.12?

[2016-09-21 10:25] RimashMohomed commented on #155
@densh interesting to contribute for this feature can you please guide me through

[2016-09-21 11:54] densh commented on #180
@mkotsbak We've not yet added support for 2.12 yet, it remains to be seen.

[2016-09-21 20:33] pbatko commented on #283
I've started hacking on the solution here[1] and I it looks like `null.instanceOf[T]` case started working .
I have a few questions:
1. Is `ClassLowering` a good place for implementing it?
2. `scala.scalanative.compiler.pass.ClassLowering#preInst` returns `Seq[Inst]`  so I created a dummy comparison instead of  a constant value. How can I make it work with a constant?
3. Should I create a PR alrea

[2016-09-23 12:30] bbarker commented on #122
Some interesting discussion in https://github.com/rust-lang/rust/issues/217, but admittedly I am not sure if it has any bearing on this project.

[2016-09-23 13:28] densh commented on #122
@bbarker Thanks for the link. Some of the pain points are quite relevant to Scala Native. We need to try it out before we commit to guaranteeing tail call optimisation by default.

[2016-09-26 21:00] mkotsbak opened #301 ""NoSuchElementException: None.get" when there is no main method"
In previous versions of Scala Native, I successfully created a wrapper library without a main method, but now it fails with:

[code]

`.get` should not be used here, but instead handle this case with an error message. But it should also be supported to be able to create libraries?

[2016-09-26 21:05] mkotsbak commented on #301
Actually I'm still able to run "sbt package", but there should be an error message for "run".

Regarding the last question, I see there is a "nativeSharedLibrary" option, but I don't think I want to create a shared library for just a thin wrapper for another shared library?

[2016-09-27 13:06] mkotsbak opened #302 "Add support for scala.App"
It is convenient to create an application in Scala by creating an object that inherits from "App" trait. When I try that in Scala Native, I get:

[code]

[2016-09-30 01:36] megaannum opened #305 "Add support for scala.sys.process.Process"
scala-native-example worked.
Clone example directories, commented out all code replacing main with:

[code]

At command line: sbt run
Got:

[code]

running: scala -cp  target/scala-2.11/classes demo.Main
worked
Thanks.

[2016-10-04 08:53] densh commented on #294
Fixed in https://github.com/scala-native/scala-native/pull/295

[2016-10-04 08:53] #294 closed

[2016-10-04 08:55] densh commented on #190
Fixed in https://github.com/scala-native/scala-native/pull/295

[2016-10-04 08:55] #190 closed

[2016-10-04 08:57] densh commented on #270
Fixed in #295

[2016-10-04 08:57] #270 closed

[2016-10-04 08:59] densh commented on #226
Division by zero is undefined behaviour in Scala Native at the moment. This seems to be failing as expected. Please resubmit with more actionable bug description if this is still an issue.

[2016-10-04 08:59] #226 closed

[2016-10-04 09:18] densh commented on #302
TIL: Did you know that `scala.App` optionally (via a property) supports printing how much it took to run the app? And that's why it uses properties and currentTimeMillis.

[2016-10-04 09:22] densh commented on #305
We don't support library side of processes yet. `scala -cp` runs JVM-compiled classes, that's why it worked.

[2016-10-04 11:16] densh opened #311 "Initial java.io support"
Here is a list of classes we want to support soon:
- [ ] java.io.BufferedInputStream
- [ ] java.io.BufferedOutputStream
- [ ] java.io.BufferedReader
- [ ] java.io.File
- [ ] java.io.FileFilter
- [ ] java.io.FileInputStream
- [ ] java.io.FileOutputStream
- [ ] java.io.InputStream
- [ ] java.io.OutputStream
- [ ] java.io.PrintStream
- [ ] java.io.PrintWriter
- [ ] java.io.Reader
- [ ] java.io.Writer

[2016-10-04 11:58] sjrd commented on #311
Note that a bunch of those already available in Scala.js, in https://github.com/scala-js/scala-js/tree/master/javalib/src/main/scala/java/io

* `BufferedReader`
* `InputStream`
* `OutputStream`
* `PrintStream`
* `PrintWriter`
* `Reader`
* `Writer`

The following would be nice to have in Scala.js as well, so if you're working on them, contributions to Scala.js are welcome: :)

* `BufferedInputStrea

[2016-10-04 12:07] densh commented on #311
Yep, some of those are already done. 👍

That's just a list of things of things that @cedricviaccoz will be looking at.

[2016-10-04 12:14] densh commented on #302
Short-term solution would be to patch the `scala.App` in overrides not to have this magic feature.

[2016-10-04 12:23] densh opened #312 "Add support for structural types"
Calling methods that are defined in structural types isn't supported yet:

[code]

[2016-10-04 13:54] densh commented on #282
Docs are going to be hosted at http://scala-native.readthedocs.io/en/latest/lib/javalib.html

We still need to go through all the Java classes we have and list current state for each one of them.

Quite a few classes in `java.lang` are fully implemented already.

[2016-10-04 13:57] densh commented on #45
I've been working on this lately. We have a new docs website at [scala-native.readthedocs.io](http://scala-native.readthedocs.io/). There's not much text on the language and interop yet, that's something that still remains to be covered.

[2016-10-04 14:07] densh opened #314 "Code gen emits invalid LLVM IR"
Following code

[code]

Emits invalid LLVM IR:

[code]

As reported by @andreaTP in https://github.com/scala-native/scala-native/issues/273

[2016-10-04 14:09] densh commented on #273
1. Division by 0 is undefined behaviour.
2. Moved to separate issue: https://github.com/scala-native/scala-native/issues/314
3. Has been already fixed.
4. Has been already fixed.

[2016-10-04 14:09] #273 closed

[2016-10-04 14:23] densh commented on #283
1. Yes, that's a good place.
2. Use `Op.Copy`, it assigns a constant to given local name.
3. Yes, feel free to open a PR.

[2016-10-04 14:26] densh commented on #292
As long as the unix function you're using is available across all common *nix operating systems (e.g. Linux, FreeBSD and macOS), it's fine to use in our implementation. Windows support is on the longer-term horizon.

[2016-10-04 14:31] densh commented on #242
#190 has been fixed and this issue doesn't seem to be blocked any longer.

[2016-10-04 14:32] mkotsbak commented on #292
Ok. Could my code above be included somewhere as it is?

[2016-10-04 14:33] densh commented on #292
Yep, just make a PR. 😉

[2016-10-05 12:12] densh commented on #104
As @pbatko discovered `assert.h` is out of scope for this one. Probably there are other headers which do not make much sense for us.

[2016-10-05 22:15] mkotsbak commented on #292
I'm trying here: https://github.com/mkotsbak/scala-native/tree/Thread.sleep_support

But when I test, I get:

[code]

[2016-10-05 22:48] mkotsbak commented on #292
Ah, seems it was that I forgot to add Unit as return value as the unistd function returned int.

[2016-10-06 09:36] densh opened #317 "Front-end should be friendlier to people"
Currently our error reporting in the front-end is quite simplistic: just fail the compilation via an exception. Due to the fact that back-end happens quite a bit too late for nice and friendly errors we need to introduce another phase that will do sanity checks early in the pipeline.

Cases that needs to be checked:

- [ ] All of the `unsupported` branches in the NirCodeGen
- [ ] Extern methods mu

[2016-10-06 12:13] densh commented on #312
/cc @LukasKellenberger . Feel free to post your progress here.

[2016-10-06 12:35] fbertra commented on #317
Note: this issue supersedes https://github.com/scala-native/scala-native/issues/148

Should I close #148 ?

[2016-10-06 12:38] densh commented on #148
Superseded by #317.

[2016-10-06 12:38] #148 closed

[2016-10-06 12:39] densh commented on #317
Nice catch @fbertra.

[2016-10-06 17:18] cedricviaccoz opened #319 "Add C support in runtime"
As discussed prior with @densh.

[2016-10-07 08:59] densh commented on #312
As discussed yesterday, here is the checklist of the things to do here:

- [ ] Add support for dynamic methods to NIR
    - [ ] Add new `DynMethod` op
    - [ ] Update BinarySerializer
    - [ ] Update BinaryDeserializer
    - [ ] Update Tags
    - [ ] Update Shows
- [ ] Implement [front-end stub](https://github.com/scala-native/scala-native/blob/master/nscplugin/src/main/scala/scala/scalanative/n

[2016-10-07 12:21] #319 closed

[2016-10-07 12:31] jonas commented on #104
Regarding the ability to generate API binding from C header files, how hard would it be to put such a thing into the sbt plugin? It would require a small binding to clang's C API, the ability to compile/bootstrap those bindings and a say to run the scala native program using an SBT task with C include statements or header file path as the input setting.

[2016-10-07 12:34] densh commented on #104
@jonas Integrating a binding generation tool into sbt plugin is doable. We just need someone to develop the tool itself. @frgomes has been exploring this in https://github.com/frgomes/scala-bindgen

[2016-10-07 12:37] mkotsbak commented on #104
Yes, I would say the rules for making a facade for a C api that provides header files is a certain science, so I guess sometime in the future building a Scala Native program should be no more work than building a C application that uses other libraries (by just pointing on the header file). Wrapper objects should be generated automatically.

This is not comparable to Scala.Js, where the types are

[2016-10-10 08:12] LukasKellenberger opened #321 "GC segfaults on macOS 10.12"
Compilation works fine but when I run the sample project it crashes with a segfault.

[code]

[2016-10-12 21:34] pbatko commented on #314
After `CopyPropagation` looks like this:
[code]
but then LLVM IR has that dangling label.
[code]

[2016-10-13 20:05] astojanov opened #326 "Pattern matching fails while matching the type of a generic parameter of a case class"
Consider the following example:

[code]

Running `nativeLink` will fail:

[code]

... and will produce the stack trace bellow:

[code]

[2016-10-13 21:04] astojanov opened #327 "BigInt fails in the constructor"
Consider the following code:

[code]

it fails as soon as the constructor of `BigInt` is called:

[code]

Looking at the error description, it could be that this issue is related to #326 - and if that is the case, my apologies for the duplicate.

[2016-10-14 00:21] tindzk opened #328 "CUnsignedShort has wrong size"
`sizeof[CUnsignedShort]` returns 8, whereas `sizeof(unsigned short)` returns 2 in C (x86_64, Linux).

[2016-10-14 11:52] densh opened #329 "Consider renaming Compiler to Optimizer"
For consistency with Scala.js terminology and we're getting our first optimisations merged in soon anyway.

[2016-10-14 11:53] densh opened #330 "ModuleLowering should not tag module with "module.""
This is an artifact of the times when we had separate namespaces for modules and classes/traits.

[2016-10-14 18:54] francoiscabrol commented on #305
is there a way to execute a shell command with scala native?

[2016-10-15 22:23] tindzk opened #331 "Document void* equivalent"
Scala's pointer arithmetic does not behave the same way as in C:

[code]

[code]

vs.

[code]

[code]

[2016-10-15 23:22] tindzk opened #332 "Support for arrays in structs"
I would like to use array members in structs. The length probably needs to be expressed as a separate type parameter, e.g. using Shapeless natural numbers:

[code]

Right now, it is quite inconvenient to access `name`, requiring pointer arithmetic.

We need to ensure that such a variable-length array can only be the last member in the struct declaration.

See also https://gcc.gnu.org/onlinedocs/gc

[2016-10-16 00:49] tindzk opened #333 "Cannot store UInt value in Option"
The following program does not compile:

[code]
[code]

I am curious as to why it works without the `Some` call. Also, why does it try to convert the number to a string in the first place?

[2016-10-17 09:31] densh opened #334 "Implement `java.lang.Object::clone`"
As discovered by @sjrd we don't have the implementation for that yet.

[2016-10-18 14:00] densh opened #337 "Front-end emits inconsistent method signature for lifted code"
[code]

Emits NIR that has inconsistency between signature and the basic blocks:

[code]

As discovered by @soc

[2016-10-18 14:01] densh commented on #337
Golfing it down:

[code]

[2016-10-18 15:19] densh commented on #328
Nice catch @tindzk, it's `i16` as we compile it to LLVM (the same as C) but sizeof is wrong here.

[2016-10-18 15:20] densh commented on #326
Thanks a lot for the report @astojanov !

[2016-10-18 15:20] densh commented on #327
Thanks!

[2016-10-18 15:23] densh commented on #333
Linking is quite conservative at the moment, and it often over-approximates the methods that are needed. The root cause for this is https://github.com/scala-native/scala-native/issues/242

[2016-10-18 15:23] #333 closed

[2016-10-18 15:24] densh commented on #331
Good find @tindzk, thanks for the report!

[2016-10-18 15:26] #337 closed

[2016-10-18 15:29] densh commented on #314
@pbatko Doing another DCE might not be a bad idea. DCE got a bit smarter in #336, lets wait for that to get merged before we proceed here.

[2016-10-19 09:25] densh opened #339 "Add support for sbt testing interface"
For testing frameworks like scalatest to work on Scala Native we have to implement sbt testing interface. Here are the key moving parts for this to work:
- [ ] **Test adapter.** It implements SBT testing interface on the JVM side and uses message passing to communicate with testing bridge.
- [ ] **Test bridge.** The part that runs in the native compiled code and accepts messages from the test adap

[2016-10-19 09:48] densh commented on #339
Related to: https://github.com/scala-native/scala-native/issues/159

[2016-10-20 09:05] #283 closed

[2016-10-20 09:20] #314 closed

[2016-10-20 09:31] densh opened #342 "BoxingElimination became non-local due to implicit block refactoring"
Now it produces code that uses values that might not be defined yet:

[code]

As discovered by @hkapp

[2016-10-20 13:24] #260 closed

[2016-10-20 15:53] densh commented on #32
@hkapp, don't forget to mention this in GVN PR as it's an actual fix for the problem.

[2016-10-20 15:54] densh commented on #31
@hkapp If BoxingElimination becomes non local, this issue is fixed for good.

[2016-10-20 15:57] densh commented on #19
Duplicate wrt https://github.com/scala-native/scala-native/issues/233

[2016-10-20 15:57] #19 closed

[2016-10-20 15:58] densh commented on #233
Here is the initial list of things that need to be done here:

- [ ] Update port of scala.runtime to reflect recent changes in scala/scala#5110 and scala/scala#5098
- [ ] Add proper support for closured to NIR
- [ ] Test support for SAMs and how it works with FunctionPtrN

[2016-10-20 15:58] densh commented on #24
Duplicate wrt https://github.com/scala-native/scala-native/issues/233

[2016-10-20 15:58] #24 closed

[2016-10-20 16:01] densh commented on #84
Duplicate wrt #126

[2016-10-20 16:01] #84 closed

[2016-10-20 16:04] densh commented on #305
@francoiscabrol You can call C's [`system`](http://www.cplusplus.com/reference/cstdlib/system/) directly via an extern object.

[2016-10-20 16:07] densh commented on #342
As we've discussed today there are two possible fixes for this:

1. Easy one is to use CFG and make it work on one basic block at a time as before.
2. Harder one is to use dominator tree to that @hkapp is currently working on to make it properly non-local.

[2016-10-20 17:07] hkapp commented on #342
The dominator tree version is working, so we can go with that. The solution is really simple. I'll create the PR as soon as the dominator tree PR is merged.

[2016-10-20 17:08] densh commented on #342
@hkapp Fantastic!

[2016-10-21 14:46] densh commented on #332
Yep, we definitely want that. But the issue itself is duplicate wrt #35

[2016-10-21 14:46] #332 closed

[2016-10-21 14:47] densh commented on #153
**Workaround:** move the control flow expression out into a local val.

[2016-10-21 15:52] #330 closed

[2016-10-21 15:54] densh commented on #285
I've been thinking about this one for a while. We definitely need better infrastructure to test interop-related functionality. One way to do it is to add some basic support for building C code from sbt via clang and having mixed Scala/C projects.

[2016-10-21 15:56] densh commented on #70
Things that we might support here:
- [ ] C/C++ files
- [ ] LLVM IL
- [ ] Platform assembly

First one might really help with testing interop.

[2016-10-21 20:36] fbertra commented on #302
Easy?  I volunteer!

Copy/paste from gitter feed

[code]

[2016-10-22 06:49] kammoh commented on #321
I'm facing the same issue with demoNative on macOS 10.12. Tried both Boehm from git/master and homebrew. I'd really like to see this working, but can't really figure out what's going wrong with the GC. Maybe some security feature that's been added to Sierra? Like the one which crippled previous versions of upx?

[2016-10-22 20:25] kammoh commented on #321
Installing llvm38 from homebrew I arrive at a different error:
[code]

[2016-10-22 21:19] kammoh commented on #321
and I get the same segfault with homebrew llvm 3.9:
[code]

[2016-10-23 14:59] kammoh commented on #321
After trying a bdwgc build with "--enable-gc-assertions", it turns out GC_init is not called anywhere before mallocs. I see method init in scalanative/runtime/package.scala calls the native GC_init, but it seams it's not being invoked at all!

[2016-10-24 08:31] densh opened #349 "Exception handlers don't resolve correctly"
Changing the order in which Try branches are visited in Cf can result in incorrect exception handler assignment:

[code]

It will print:

[code]

[As reported by @pbatko in gitter](https://gitter.im/scala-native/scala-native?at=580ca5ba015db84e6fbb4d4c)

[2016-10-24 08:40] #328 closed

[2016-10-24 09:41] densh opened #350 "Code of java.lang.Long::divideUnsigned contains invalid sext"
[code]
[As discovered by @pbatko](https://github.com/scala-native/scala-native/pull/346#discussion_r84558048).

[2016-10-24 10:39] #350 closed

[2016-10-24 11:24] densh commented on #302
@fbertra Thanks!

[2016-10-25 07:52] densh commented on #242
Fixed in https://github.com/scala-native/scala-native/pull/346

[2016-10-25 07:52] #242 closed

[2016-10-25 08:58] densh commented on #342
Dominator tree implementation has just been merged.

[2016-10-26 10:44] densh commented on #158
Here we should just wrap [libunwind](http://www.nongnu.org/libunwind/man/libunwind(3).html) and use it to inspect the call stack. This is going to be useful for both the `java.lang.Exception::printStackTrace` and for the graceful exception report if crashes the application.

[2016-10-26 13:36] #31 closed

[2016-10-26 13:36] #342 closed

[2016-10-26 15:13] #321 closed

[2016-10-26 15:14] densh commented on #321
@kammoh You were right, we indeed were not calling `GC_init` correctly. The issue's been fixed in #358.

[2016-10-26 15:43] #302 closed

[2016-10-26 16:00] densh commented on #287
Yep, we need to bring those update with respect to SJS.

[2016-10-26 16:10] densh commented on #334
**Note:** update http://stackoverflow.com/questions/40076047/what-types-are-special-to-the-scala-compiler/40083398#40083398 when this is fixed.

[2016-10-26 16:24] densh commented on #269
Hi @ShaneDelmore. Unfortunately I was not able to reproduce this issue on a clean 10.11.6 checkout.

Things that you should try:
1. Delete `/Users/shane/.ivy2`
2. Delete your local scala native repo
3. Uninstall llvm and boehm gc
3. Run `brew update && brew install llvm bdw-gc` (it should be fine without building everything from scratch)
4. Make a fresh clone of latest master
5. Run `sbt 'nscplugi

[2016-10-26 16:24] #269 closed

[2016-10-27 08:31] densh opened #360 "doubleToRawLongBits/doubleToLongBits discrepancy"
As discovered by @soc:
[code]

[2016-10-28 11:18] #360 closed

[2016-10-28 12:24] schmitch commented on #101
Just to drop myself in a bit, shouldn't we also looking for a way to get this work with akka? I mean if scala-native has some kind of akka support (while dropping their java stuff) would be highly appreciated.
So the Threading Model should be somewhat compatible with Akka I guess.

[2016-10-28 12:29] densh commented on #101
Absolutely, running Akka's test suite with minimal modifications would be an ultimate stress test for the model.

[2016-10-29 09:58] densh opened #365 "String concat does not stringify primitive arguments"
[code]
Does not print 42 but just `foobar:`. As discovered by @soc.

[2016-10-29 10:31] #292 closed

[2016-10-29 11:10] mkotsbak commented on #301
This seems to be solved in commit 88fdd446e54a297d48752c2ea99097bcff0fe886.

[2016-10-29 11:10] #301 closed

[2016-10-29 11:22] #365 closed

[2016-10-29 22:21] tindzk opened #367 "Ptr[T] must box when it escapes to generic context"
`env` and `env2` should be semantically equivalent, but the latter leads to a segmentation fault (Linux, x86_64):

[code]

[2016-10-29 23:44] tindzk opened #368 "CSignedSize missing"
`package.scala` defines `CSize` (`size_t`), but doesn't have any equivalent for `ssize_t`. Would it be possible to add `CSignedSize`?

[2016-10-30 09:21] densh commented on #368
Good idea, we should do that.

[2016-10-30 09:22] densh commented on #367
Thanks for the bug report!

[2016-10-31 16:31] mkotsbak commented on #368
But I think this is platform specific?

[2016-10-31 17:27] densh commented on #368
All of C types are platform specific. But it's fine given that we currently target 64-bit systems only.

[2016-11-01 12:32] densh commented on #367
Looks like another incarnation of #178. Lets keep this ticket open to fix pointer boxing, and constrain the other one to structs.

[2016-11-01 12:37] densh commented on #331
While this is surprising coming from C background, the semantics is correct here. sizeof[_] is 8 bytes, this is due to the fact that the universal type is pointer-sized in Scala, and that's the correct increment given the invariant of `(ptr: Ptr[T]) + 1` being the same as `(ptr: Ptr[T]).cast[Ptr[Byte]] + 1 * sizeof[T]`.

[2016-11-01 13:01] MasseGuillaume opened #370 "Publish artifact name are the same as Scalac"
I'm using [sbt-multi-platforms](https://github.com/MasseGuillaume/sbt-multi-platforms) to release scala-native artifacts. When I run publishLocal the artifact name is the same for scala-native and jvm. My current workaround is to provide an alternative artifact name.

we would need something similar to what Scala.js has for cross-publishing:
https://github.com/scala-js/scala-js/blob/7640e858efbf8d

[2016-11-02 10:10] tindzk commented on #331
I see. In that case, the bindings should not return `Ptr[_]` as an equivalent for C's `void` pointer. For example, pointer arithmetic behaves differently on `stdlib.malloc(1024)` than in C.

We also need to mention it in the manual to prevent confusion. Perhaps something similar to https://www.scala-js.org/doc/interoperability/types.html?

[2016-11-02 13:29] densh commented on #331
Indeed, `Ptr[Byte]` is a better equivalent for `void*`. I've reopened this issue to make sure we update our bindings & document this.

[2016-11-05 11:02] LukasKellenberger opened #374 "Method signature collision"
In some cases, two methods are translated to the same signature which causes compilation errors.

[code]

[2016-11-07 07:48] densh commented on #374
Thanks for the bug report!

[2016-11-08 10:34] densh opened #375 "Linker requires dummy forwarders to implement Java APIs"
This has been discovered by @soc in #373. The issue can be clearly seen in the implementation of `ArrayList`:

[code]

The last three methods should not have been necessary.

[2016-11-08 11:54] cedricviaccoz opened #376 "getOrElse crash the application on mutable map"
The method getOrElse on a mutable map produce a java.lang.RuntimeException with exit code 134.
[code]
I've encountered this issue while working on #311 when using the forName method from java.nio.Charset.

[2016-11-08 12:57] densh commented on #376
Hi @cedricviaccoz, it seem that's the failure in your test case is not reproducible.

CI: https://travis-ci.org/scala-native/scala-native/jobs/174193854#L1061
PR: https://github.com/scala-native/scala-native/pull/377

[2016-11-08 13:11] #376 closed

[2016-11-09 09:38] densh commented on #32
Fixed in #361

[2016-11-09 09:38] #32 closed

[2016-11-09 14:22] densh opened #378 "Proposal: don't include @struct's in 0.1"
There are a number of non-trivial issues we've accumulated so far:

* No way to dereference a single field of a struct #39
* Interaction between structs and stack allocation is not obvious #115
* Structs don't box when they escape to generic context #178
* Structs don't respect C's ABI in extern methods #195
* Structs don't support inheriting from traits #38

Instead of releasing a half-baked impl

[2016-11-09 14:25] sjrd commented on #378
IMO this is a reasonable thing to do.

[2016-11-09 14:46] mdedetrich commented on #378
I don't have any issues with this as long as structs are still considered a high priority and they aren't getting pushed down the priority table

[2016-11-09 15:24] andreaTP commented on #378
I understand your point @densh but in this way you basically have to drop even C interop feature, or am I wrong?

[2016-11-09 19:56] fbertra commented on #378
Interop with C is a mayor feature for 0.1.  And a lot of C functions use structs or pointers to struct as parameters/return value.

Is there is a way to simplify the semantic of struct and avoid the issues above?  For example:

- define structs as pure value classes which cannot define methods or implement traits (https://github.com/scala-native/scala-native/issues/38),
- allocated on stack by def

[2016-11-09 23:15] nafg commented on #39
@densh instead of Dynamic, for one extra character how about use Symbols: `ptr -> 'field`

[2016-11-10 10:05] staeff777 opened #379 "scala-native on cygwin"
I wanted to give cygwin a try. I installed clang and the libgc as well as sbt.

During the compilation process I receive
`[error] No recent installation of clang found at \usr\bin\clang-3.8.
[error] See https://github.com/scala-native/scala-native/blob/master/docs/building.md for details.
[error] (*:nativeLink) No recent installation of clang found at \usr\bin\clang-3.8.
[error] See https://github

[2016-11-10 10:08] densh commented on #378
@mdedetrich

Having a good value types story is high priority goal. There are a number of ways we can get there, current prototype of structs is the approach we've tried so far.

@andreaTP

Interop is still there. There only thing you will not be able to do temporarily is pass structs by value, but you'll still be able to pass them by reference. I'll do a PR to add support for storing tuples to po

[2016-11-10 10:23] densh commented on #378
**Note:** This proposal is regarding the scope of 0.1 only.

[2016-11-10 11:11] andreaTP commented on #378
IMO this is a key feature for the effectiveness of Scala-Native, if effort for supporting proper structs delay the belated 0.1 of some months nobody will complain at this point.
Again, this is a personal opinion.

Is there any constrains to quickly release a non-snapshot?

[2016-11-10 15:49] cedricviaccoz opened #380 "toLowerCase & toUpperCase implementation missing in java.lang.Charset"
For now, both methods just convert the char to a String and call the corresponding methods from java.lang.String:
[code]
And in String those methods are not implemented. Since the functionality of mapping upper case unicode chars to lower case ones (and vice versa) belongs to Character, a true implementation would be needed.

[2016-11-11 21:33] kmltml opened #382 "Illegal llvm code generated when using function pointers with value types"
[code]
This generates error:
[code]

[2016-11-12 18:12] soc opened #384 "Rename sbtplugin to sbt-native"
It would be great if Scala-Native adopted the naming convention for more consistency with other sbt plugins like sbt-scalajs, sbt-android, sbt-coursier, ...

I tried to write it down here: http://www.scala-sbt.org/1.0/docs/Plugins-Best-Practices.html#Follow+the+naming+conventions

[2016-11-12 20:20] densh commented on #384
Good idea, thanks for suggestion!

[2016-11-15 18:25] vossad01 commented on #378
Maybe I am more cautious to "drink from the firehose" than I should be, but I like this proposal.
I would like to see a "stable" milestone/snapshot to develop against sooner knowing that more good things are to come later.  That is so long as it does not mean scala-native itself would be implementing a lot of things it does not intend to keep to make that happen (which does not sound like the case

[2016-11-16 13:22] densh opened #391 "Considering adding support for TBAA metadata"
TBAA is an acronym for Type-Based Alias Analysis. It compensates untyped nature of LLVM's memory accesses by provide more info in special annotations. More details are provided in the [LLVM's language reference manual](http://llvm.org/docs/LangRef.html#tbaa-metadata).

[2016-11-16 13:26] #374 closed

[2016-11-18 13:13] MasseGuillaume opened #393 "Unmangle linking errors"
[code]

example:
@java.util.concurrent.TimeUnit::convert_i64_class.java.util.concurrent.TimeUnit_i64

[code]

[2016-11-18 13:52] densh commented on #393
Should be relatively easy. We just need to implement an inverse function for https://github.com/scala-native/scala-native/blob/master/nscplugin/src/main/scala/scala/scalanative/nscplugin/NirNameEncoding.scala#L70 and pretty print the result in Scala syntax.

[2016-11-18 14:46] densh opened #394 "classOf[Unit] fails to link"
Following code:

[code]

Fails to link with:

[code]

[2016-11-18 16:03] #394 closed

[2016-11-18 19:20] tindzk opened #396 "Make type tagged intrinsic work in generic context"
`sizeof` correctly resolves the implicit `ClassTag` parameter:

[code]

This should be equivalent to:

[code]

However, the compiler crashes with the following exception:

[code]

[2016-11-21 10:55] densh commented on #396
Thanks for the bug report!

[2016-11-21 14:18] Duhemm opened #398 "Segfault when using `scala.concurrent.duration._`"
The following program compiles fine but segfaults:

[code]

[code]

[2016-11-21 14:22] Duhemm commented on #398
I think it depends on the implementation of `java.util.concurrent.TimeUnit` (which will come in a PR soon). I'll start by looking at `TimeUnit`.

[2016-11-21 14:47] Duhemm commented on #398
Actually the problem is that `scala.concurrent.duration.Duration` transitively uses `Pattern.split` which is a dummy implementation.

[2016-11-21 14:47] #398 closed

[2016-11-23 14:15] MasseGuillaume opened #400 "Semantic versionning"
Let's use [Semantic Versioning 2.0.0](http://semver.org/).

This mean we need to change the version from 0.1-SNAPSHOT to 0.1.0-SNAPSHOT.

[2016-11-24 09:36] #329 closed

[2016-11-24 09:39] densh commented on #382
Thanks for a bug report!

[2016-11-24 09:40] densh commented on #379
Currently we don't support Windows officially, but I'll leave this ticket alive in case anyone wants to investigate the issue.

[2016-11-24 09:42] densh commented on #113
Related: https://github.com/scala-native/scala-native/issues/379

[2016-11-24 10:18] Duhemm opened #404 "Calling `##` on `Class` crashes"
## Problem:

`Test.scala`:

[code]

[code]

## Note:

Current implementation of hashCode is:
[code]

Changing it to:
[code]

fixes the issue, but I doubt this is the correct implementation?

[2016-11-24 10:24] sjrd commented on #404
The correct implementation is that inherited from `Object`.

[2016-11-24 10:27] densh commented on #404
@sjrd We don't cache instances of `java.lang.Class` yet. Equality and hashCode compares underlying RTTI pointer as those are unique per type.

[2016-11-24 14:45] densh commented on #384
More discussion on this: https://github.com/scala-native/scala-native/pull/392/files#r89504455

[2016-11-25 12:48] densh commented on #58
Fixed in #392

[2016-11-25 12:48] #58 closed

[2016-11-25 12:48] densh commented on #370
Fixed in #392

[2016-11-25 12:48] #370 closed

[2016-11-25 12:48] densh commented on #384
Fixed in #392

[2016-11-25 12:48] #384 closed

[2016-11-25 12:48] densh commented on #400
Fixed in #392

[2016-11-25 12:48] #400 closed

[2016-11-25 13:50] densh commented on #58
Thanks to everyone who participed in fixing this issue: @sjrd @gurinderu @MasseGuillaume ! 🎉🎉🎉

[2016-11-27 20:52] LeeTibbert opened #410 "Did commit b780d6f (publish local changes) break scala-native "getting started"?"
Looks like the publish local changes in commit b780d6f broke the introduction
to scala-native getting started instructions at URL:
   http://scala-native.readthedocs.io/en/latest/index.html

Specifically the line "now simply run sbt run to get everything compiled and have the expected output!"
on page: http://scala-native.readthedocs.io/en/latest/user/sbt.html#sbt

I am just starting with scala-na

[2016-11-28 06:02] LeeTibbert commented on #410
Supporting info:
 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: org.scala-native#nativelib_native0.1.0-SNAPSHOT_2.11;0.1.0-SNAPSHOT: not found
[warn] 	:: org.scala-native#javalib_native0.1.0-SNAPSHOT_2.11;0.1.0-SNAPSHOT: not found
[warn] 	:: org.scala-native#scalalib_native0.1

[2016-11-28 22:04] LeeTibbert opened #413 "Getting Started: error in "sbt run", then no output from executable"
I am trying to get the 'getting started' [tutorial]
(http://scala-native.readthedocs.io/en/latest/user/sbt.html#sbt)
to work and am encountering an error in `sbt run` and
then no output when the resulting executable is invoked..

Am I likely to be doing something wrong or is this just
life in a construction zone?  Should I just wait
a few days for the dust to settle in the next snapshot
or so?

Af

[2016-11-29 11:13] MasseGuillaume opened #414 "warning: overriding the module target triple with x86_64-unknown-linux-gnu [-Woverride-module]"
llvm should be aware of target

http://clang.llvm.org/docs/CrossCompilation.html#general-cross-compilation-options-in-clang

[2016-11-29 11:19] MasseGuillaume opened #415 "Position of unresolved links"
It would be super helpful to find all positions (Source file, line, column) of unresolved links.

For example:

[code]

[2016-11-29 11:21] densh commented on #414
This is caused by the fact that we don't specify compilation target in the emitted code. Simple fix for this would be to use `$ llvm-config --host-target` to explicitly define host target and the compilation target.

[2016-11-29 11:24] densh commented on #415
Great idea, we should do it as soon as #29 is implemented. Currently we don't have information in the IR for this to happen.

[2016-11-29 12:48] densh commented on #410
@LeeTibbert Thanks a lot for the report! We've just updated the docs in https://github.com/scala-native/scala-native/pull/411/files to fix the issue.

[2016-11-29 12:48] #410 closed

[2016-11-30 01:09] DemiMarie commented on #128
Another option: write a bespoke GC, either in a low-level language (Rust?) or in Scala itself.

But that would be a lot of work.

[2016-11-30 13:53] densh opened #417 "Add new `box[T] value` and `unbox[T] value` ops"
Currently we extract those by pattern matching on shapes of calls in `GlobalBoxingElimination` but it would be way nicer to have them as first-class NIR ops. It would simplify a number of passes.

[2016-11-30 13:59] densh commented on #417
- [ ] Patched NIR to add new opcodes
- [ ] Patch front-end to never call `BoxesRunTime.unboxToT` and `BoxesRunTime.boxToT` and emit new opcodes instead
- [ ] Add lowering pass to do the actual calls for those opcodes in the middle of driver pipeline

[2016-11-30 14:00] densh commented on #417
Related: https://github.com/scala-native/scala-native/issues/326

[2016-11-30 15:05] densh commented on #417
In the beginning we're going to be support just the following types as `T`:

* `java.lang.Boolean`
* `java.lang.Character`
* `java.lang.Byte`
* `java.lang.Short`
* `java.lang.Integer`
* `java.lang.Long`
* `java.lang.Float`
* `java.lang.Double`
* `scala.scalanative.native.UByte`
* `scala.scalanative.native.UShort`
* `scala.scalanative.native.UInt`
* `scala.scalanative.native.ULong`

[2016-11-30 15:31] densh commented on #349
Some more discussion/brainstorming on this: https://github.com/scala-native/scala-native/pull/348#issuecomment-255751578

[2016-11-30 17:38] densh commented on #155
We need to cook this one a bit longer before we are confident to include it in the official feature set.

[2016-12-01 12:27] densh commented on #404
[code]

[2016-12-01 12:27] densh commented on #404
In current implementation:
[code]
Should have been:
[code]
The current one resolves to `java.lang.Long` instead.

[2016-12-01 13:00] #253 closed

[2016-12-01 13:34] #404 closed

[2016-12-02 16:51] densh opened #424 "`classOf[Array[Unit]]` doesn't link"
Test case:
[code]
Fails to link with:
[code]

This was discovered in sha512 benchmark port that doesn't link at the moment.

[2016-12-03 13:35] densh commented on #275
Minimized test case:
[code]
Prints:
[code]

[2016-12-03 14:07] densh commented on #275
I've narrowed down it a bit further: it looks like in `ArrayBuilder$::make` both `tag.runtimeClass` and `java.lang.Byte.TYPE` are null. Looks like module initialization order issue to me.

[2016-12-09 00:20] LeeTibbert opened #426 "Scala-native scala println appears broken/no-op/not-yet-implemented/black-hole-sink"
In issue #413, I reported running the tutorial example (not demo) program and
getting no output. I am closing that issue and opening this one because I have
developed more specific information.

Forgive me if this is a known issue or design decision.  Looks like a
regression to me, so I am reporting.

The impact of this issue is that others may try to follow the
tutorial, encounter this issue, and

[2016-12-09 00:21] #413 closed

[2016-12-09 00:25] LeeTibbert commented on #413
I am closing this issue in favor of the better localization of the
"no output: problem described in issue #426.

Issue #414 covers the 64 bit case of the 32 bit warning I encountered
here, making this redundant.

[2016-12-09 11:31] densh commented on #426
Can you please provide more details about your environment, e.g. versions of OS/Clang/LLVM.

[2016-12-09 13:13] densh commented on #417
Fixed in https://github.com/scala-native/scala-native/pull/422

[2016-12-09 13:13] #417 closed

[2016-12-10 12:00] lihaoyi opened #430 "Scala 'Symbols cause a linking error"
Code:

[code]

Error:
[code]

These are common enough that we should figure out how to make it pass

[2016-12-10 12:02] lihaoyi commented on #430
This is the only thing that causes https://github.com/lihaoyi/sourcecode to not build successfully. The library still works, it's just we happen to use a symbol in the test cases

[2016-12-10 15:19] lihaoyi opened #433 "java.util.concurrent.atomic.AtomicLong not implemented"
This is a blocker for porting https://github.com/scala-native-ports/scodec-bits, which is necessary for porting https://github.com/scodec/scodec itself as well as the https://github.com/lihaoyi/fastparse binary parsing module. Both of those would help with dealing with binary input and could be useful for scala-native

[code]

[2016-12-10 15:24] lihaoyi opened #434 "Compiler crash trying to port FastParse"
No idea what's wrong, but it should not crash.

Repro instructions provided below
[code]

[2016-12-10 15:30] lihaoyi opened #435 "Linking errors for lihaoyi/utest"
These all seem to be required to port https://github.com/lihaoyi/utest

[code]

[2016-12-10 15:32] lihaoyi commented on #433
Perhaps you could steal an implementation from https://github.com/scala-js/scala-js/pull/170

[2016-12-10 21:53] densh commented on #435
Hi @lihaoyi, thanks for reporting the issue!

[2016-12-10 21:54] densh commented on #433
We should definitely start with naive non-atomic implementation from Scala.js and then do full-blown atomics later on down the line.

[2016-12-10 21:55] densh commented on #430
That's something we've not noticed before. Making them work is critical. Thanks for the report!

[2016-12-10 22:00] densh commented on #434
Thanks! I have a hunch that this one and https://github.com/scala-native/scala-native/issues/326 are closely related.

[2016-12-12 00:03] LeeTibbert commented on #426
Gladly. Please let me know if you would like additional info.

[code]
[code]
[code]
[code]

[2016-12-12 10:58] densh commented on #426
I think that's our problem right there. We've not ported Scala Native to 32-bit yet. We currently test on 64-bit intel on Linux and macOS. People reported it working on 64-bit ARM.

Thanks for the report we'll put it on the stack of platforms to support in the future.

[2016-12-12 14:39] #430 closed

[2016-12-12 23:08] LeeTibbert commented on #426
@densh, Thank you for looking at this.  Looks like I am living beyond the
frontier. Exciting!

It looks like a lot of friendly work has gone into scala-native
README.md & the readthedocs tutorial.  I, for one, found them
quite helpful.

It might reduce your support costs and ease your first contact
with new users to add the text similar to (freely cribbed from
your reply) to each:
[code]

For my o

[2016-12-13 02:33] vossad01 commented on #156
Is there an expectation that different builds will need to pin different classes?

If I am understanding correctly, I am surprised to see this in being configured in sbt rather than in code.  For example with something along the lines of the `@JSExport` that Scala.js uses to denote availability to external JavaScript callers.

[2016-12-13 10:36] densh commented on #287
Fixed in https://github.com/scala-native/scala-native/pull/437

[2016-12-13 10:36] #287 closed

[2016-12-13 10:37] densh commented on #433
Added in https://github.com/scala-native/scala-native/pull/436

[2016-12-13 10:37] #433 closed

[2016-12-13 12:10] #424 closed

[2016-12-13 22:47] LeeTibbert opened #441 "scala-native javalib strings appear with 2 initial NULs?"
<h5>Prolegomenon:
</h5>

 I observed this problem in X86 32-bit, which I know to be
untested & unsupported. I am creating this issue in case valid
64 bit users also see it. If that happens, this "heads up" can
be raised to a proper bug report.

<h4> Observed Behavior</h4>

Whilst chasing my missing scala println output, I discovered what
may be a problem with scala-native javalib strings. Namely,

[2016-12-15 13:55] densh commented on #441
String lowering inserts padding in https://github.com/scala-native/scala-native/blob/master/tools/src/main/scala/scala/scalanative/optimizer/pass/StringLowering.scala#L37 which is not necessary on `x86`.

[2016-12-15 16:01] #326 closed

[2016-12-15 16:01] densh commented on #327
Fixed in 6a10bc8

[2016-12-15 16:01] #327 closed

[2016-12-15 16:01] densh commented on #434
Fixed in 6a10bc8

[2016-12-15 16:01] #434 closed

[2016-12-16 09:50] hustnn opened #443 "Build problem"
I try to compile scala-native by running sbt the scala-native root path and met this problem:

unresolved dependency: org.scala-native#sbt-cross;0.1.0-SNAPSHOT: not found****

Is there anything wrong?

Thanks.

[2016-12-16 15:02] densh opened #445 "Equality between boxes of different types has wrong semantics"
[code]
This should print `true`, but prints `false` at the moment.

[2016-12-17 02:20] hustnn commented on #443
I resolved this problem by cloning https://github.com/scala-native/sbt-cross and use sbt publishLocal to generate the local repository for sbt-cross.

[2016-12-17 11:20] sjrd commented on #445
You need to call [`BoxesRunTime.equals`](https://github.com/scala-native/scala-native/blob/master/nativelib/src/main/scala/scala/runtime/BoxesRunTime.scala#L67) when translating an `==` primitive in the scalac back-end.

[2016-12-17 11:23] densh commented on #445
Yep, currently we mistakingly just call `java.lang.Object.equals` instead. It obviously doesn't support cooperative equality between primitive boxes.

[2016-12-17 11:32] sjrd commented on #445
Well in fact, in the case of SN, you *could* actually change `Integer.equals` and friends so that they *do* support cooperative equality. That would help SN with the bad `==` performance of Scala. But you will have to trade some of the semantics of `Object.equals` for that.

[2016-12-17 12:00] densh commented on #445
Alternatively, we can also add a new virtual method (e.g. `java.lang.Object.==` that behaves) like cooperative Scala equality from `BoxesRunTime.equals` and is overridden for all box types without touching `equals`. Win-win. 👏

[2016-12-19 08:48] LukasKellenberger opened #448 "Wrong value for Int literals containing zeros"
[code]

Produces the following output:
[code]

It seems to work correctly with Long literals.

[2016-12-19 10:13] densh commented on #448
Thanks for the report, @LukasKellenberger! Might be a bug in `java.lang.Integer::toString`.

[2016-12-19 10:54] densh commented on #443
Hi @hustnn, currently before we publish `sbt-cross` non-snapshot release one has to build it locally before building Scala Native. Our [travis script](https://github.com/scala-native/scala-native/blob/master/.travis.yml#L51) always contains reference build sequence for the project.

[2016-12-19 10:54] #443 closed

[2016-12-19 14:30] cedricviaccoz opened #449 "Casting error when trying to cast an array of primitive into a pointer"
[code]
Runnin this code result in a ``` scala.scalanative.util.package$UnsupportedException: can't cast from I(32) to I(8) (class java.lang.String) ```

[2016-12-19 16:35] aishfenton opened #450 "Scala-JVM to Scala-Native interop"
Are there plans for supporting interop between Scala-JVM and Scala-Native (i.e. calling ScalaNative from within a Scala-JVM app). If so, it'd be helpful to get an idea of what the plans are.

I can imagine a combination of scala-bindgen, for generating JNI code, and scala-offheap, for shared memory structures, working pretty well.

(CC @frgomes for scala-bindgen plans)

[2016-12-20 10:17] LeeTibbert opened #451 "X86: fwrite fails to output, fprintf & fputs succeed."
For if/when X86 support becomes possible. I understand & expect
this issue to immediately go into backlog. I do not want to take
devo time.

I have managed to find the proximal cause of my zero
output from println in the "Getting Started" tutorial example.

The C function fwrite is used by
javalib/src/main/scala/java/lang/System.scala#CFileOutputStream,
which println eventually calls.

It seems th

[2016-12-20 10:22] densh commented on #451
Thanks for the investigation!

[2016-12-20 10:33] densh commented on #449
I can't reproduce this one, I made a PR #452 to ensure that it indeed works as expected.

I think the issue was that you didn't do full clean rebuild after rebasing on top of master.

[2016-12-20 10:54] LeeTibbert commented on #441
@densh
Thank you for looking at this and for the specific line of code.
I hacked my local copy & did a publishLocal.  That gave
me toCString() and got me on my way debugging.

If it has been 6 months since that edit was introduced,
probably not many people trying to use scala-native
on X86.

[2016-12-20 15:25] densh commented on #449
`"b".toByte` fails with an exception, that was the real failure there. You probably wanted `'b'.toByte`.

[2016-12-20 15:25] #449 closed

[2016-12-20 16:41] #448 closed

[2016-12-21 02:38] LeeTibbert opened #454 "fromCstring() appears to truncate very large strings"
If it does not annoy the devos, I'll report these as I find them,
so I do not forget them.  I understand & expect if they go
immediately to backlog.

Whilst studying the 32 bit CStringSuite.scala test "toCString" test failure,
I noticed to be what appears to be a problem in 64 bit fromCstring().

 nativelib/src/main/scala/scala/scalanative/native/package.scala
 method fromCString() has a line

[2016-12-21 03:04] LeeTibbert opened #455 "CSize and Int literal direct comparison fails on X86"
This is a 32 bit X86 issue, destined for backlog.

This may well be an instance of issue #445. That
issue was created after I did this debugging. IIUC,
after a fix to #445, the .toLong below is not wrong, but
is not the "most reduced, minimal code" form. The
CSize and Int literal may be compared directly.
In that case, the fix would be to delete the .toInt
and let the magic happen behind the scene

[2016-12-21 03:07] LeeTibbert commented on #454
If/when issue #445 gets fixed and if I understand that issue correctly,
it will be possible to directly compare a CSize and an Int or Long.
In that case, the fix would be to simply drop the .toInt in the current code.

[2016-12-21 03:18] LeeTibbert opened #456 "CStringSuite.scala test "toCString" should test terminal NUL"
This was discovered on 32 bit X86 but I believe that it also
holds for 64 bit.  I report this as a Boy/Girl Scout and
expect this to go to backlog.

unit-tests/src/main/scala/scala/scalanative/native/CStringSuite.scala
test "toCString" should test that the last byte of the returned
string is both accessible memory and contains the NUL character.

The fix is to add the line:
[code]
This fix works i

[2016-12-21 09:48] cedricviaccoz opened #457 "Can't assign bytes directly to a CString"
[code]
This throws an  UnsupportedException : ```can't cast from Class(Top(java.lang.Object)) to Ptr (class java.lang.String)```
Apparently it isn't possible anymore to assign directly bytes value to a CString this way, as the exception seems to be launched by ```pathCopy(i) = filePath(i)```. Trying to assign by pointer arithmetic (``` !(pathCopy + i)```) or casting filePath(i) as a CChar will res

[2016-12-21 10:05] LeeTibbert opened #458 "SystemSuite test for System.nanotime fails on X86"
Yeah for unit tests. Good on the person/people who wrote them.

Another one for the X86 backlog.

This is the second  & last of two X86 test suite failures that I have
encountered to date. After my local fixs, all tests run. This
is not to say that all X86 problems have been found.
I am well aware that X86 issues may arise as test cases are added.

### Test failure
The unit-tests/src/main/scala/ja

[2016-12-21 10:17] densh commented on #457
It's an interesting bug. `var pathCopy: Ptr[CChar]` gets captures via an `ObjectRef` due to the fact that pointers are reference types according to Scalac at the moment.

Might be a duplicate of https://github.com/scala-native/scala-native/issues/367

**Workaround:** use while loop here instead. Anyway for-range loops are strongly discouraged, you should never use those while porting Java code.

[2016-12-21 10:47] LeeTibbert opened #459 "resources/time.c should use integer math"
This issue was detected on a 32 bit system but I believe it applies
to both 32 & 64 bits.

Whilst investigating #458, I noticed that  /nativelib/src/main/resources/time.c
is using floating math. The ghost of my Numerical Methods class kept
screaming at me that integer math would be better because it has
a shorter code path (and possibly faster processor execution units).

The code looks like scaff

[2016-12-21 10:49] LeeTibbert commented on #458
When making the fixes, please not also the suggested
integer improvement in #459.  To reduce cost,
It could be done in the same PR.

[2016-12-21 10:59] LeeTibbert commented on #426
@densh
If/when the time comes that you are beginning to think about adding
X86 support, please feel free to contact me.  I do not have a 64 bit
for testing, but I am willing, depending upon what else is going on
in my life, to submit PRs for the easier issues. The double NUL
and fwrite issues are beyond me but the others look possible.

I feel it is not fair for me to create a bunch of issues and

[2016-12-22 12:17] densh commented on #334
Things to do here:

- [ ] Implement sizeof natively on our side
- [ ] Include sizeof of every class into RTTI struct
- [ ] Implement `obj.clone` as (roughly):
[code]

[2016-12-27 13:08] densh commented on #158
Actually, `backtrace` and `backtrace_symbols` should be enough.

[2016-12-27 16:14] LeeTibbert opened #468 "Three issues with linking & using user supplied code"
From the README.md
[code]
Intrigued & lead on by this statement, I said "Scala native works wonderfully with system code,
Why not try it out with personal, user supplied code"?

The good news is that when I figured out two of the three issues below, I found it
__astonishingly__ easy. Your hard work shows.

I thought that I would report issues with my experience, so that they can be considered
as t

[2017-01-02 11:10] densh commented on #70
Related: https://github.com/olofwalker/scala-native-example

[2017-01-03 11:38] densh commented on #378
Evolution of this discussion: https://github.com/scala-native/scala-native/pull/472

`@struct` can stay under the rug as experimental unsupported functionality.

[2017-01-03 15:10] densh commented on #39
The eventual solution to this one landed in https://github.com/scala-native/scala-native/pull/472. We make structs anonymous by default and one can access fields via `ptr._N` where `N` is the index of the field.

[2017-01-03 15:10] #39 closed

[2017-01-03 15:12] densh commented on #35
https://github.com/scala-native/scala-native/pull/473 introduced type-encoded natural numbers to represent the array length. It's a bit more cumbersome than native singleton types, but it's good enough to get this functionality working today.

[2017-01-03 16:15] densh commented on #188
Duplicate of #178

[2017-01-03 16:15] #188 closed

[2017-01-03 16:16] densh commented on #331
`void* <-> Ptr[Byte]` equivalence is now mentioned in the updated interop docs in #472.

[2017-01-03 16:16] #331 closed

[2017-01-03 16:35] densh commented on #35
Fixed in #473

[2017-01-03 16:35] #35 closed

[2017-01-04 13:06] densh commented on #115
We've reduced the scope of what structs are going to support in 0.1, in particular they are not first-class anymore and require explicit stackalloc at all times. The main motivation is to have simple solution now and improve it in the future. [A bit more details are available in the docs](http://scala-native.readthedocs.io/en/latest/user/interop.html#memory-layout-types).

[2017-01-04 13:06] #115 closed

[2017-01-04 13:47] densh commented on #378
#474 closes this. `@struct` is now semi-private but it's still there as @andreaTP requested.